<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>carrito de compras</title>
</head>

<body>
    <main class="carrito">
        <div class="">
            <p><i class="fa-solid fa-bag-shopping"></i></p>
            <p>no hay nada</p>
            <p>en el carrito</p>
            <p>explorar</p>
        </div>
        <div class="">
            div>div*4>p*3
        </div>
        <div class="">
            <p></p>
            <p></p>
        </div>
    </main>

</body>

</html>