<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head", {view : "carrito"}) %>

<body>
    <%- include("./partials/header", {carrito : "black"}) %>
    <main class="main-carrito">
        <!-- por si no hay nada en este -->
        <div class="carrito-vacio">
            <p><i class="fa-solid fa-bag-shopping"></i></p>
            <p class="texto-1">no hay nada en el</p>
            <p class="texto-2">carrito</p>
            <p class="explorar-carrito">explorar</p>
        </div>
        <!-- cuando tenes algo en el carrito -->
        <div class="vista-carrito-con-productos">
            <div class="productos">
                <div class="info-compra">
                    <div class="info-datos-img">
                        <img src="/images/norm-core.png" alt="imagen-de-carrito"
                            class="img-carrito">
                        <div class="producto-info">
                            <p class="datos-producto">nombre del producto</p>
                            <p class="datos-producto">precio $100000</p>
                            <p class="datos-producto">cantidad - 1 +</p>
                        </div>
                    </div>
                    <i class="fa-solid fa-trash"></i>
                </div>
                <div class="info-compra">
                    <div class="info-datos-img">
                        <img src="/images/poison-ivy.png" alt="imagen-de-carrito"
                            class="img-carrito">
                        <div class="producto-info">
                            <p class="datos-producto">nombre del producto</p>
                            <p class="datos-producto">precio $100000</p>
                            <p class="datos-producto">cantidad - 1 +</p>
                        </div>
                    </div>
                    <i class="fa-solid fa-trash"></i>
                </div>
                <div class="info-compra">
                    <div class="info-datos-img">
                        <img src="/images/dos-continentes.png" alt="imagen-de-carrito"
                            class="img-carrito">
                        <div class="producto-info">
                            <p class="datos-producto">nombre del producto</p>
                            <p class="datos-producto">precio $100000</p>
                            <p class="datos-producto">cantidad - 1 +</p>
                        </div>
                    </div>
                    <i class="fa-solid fa-trash"></i>
                </div>
                <div class="info-compra">
                    <div class="info-datos-img">
                        <img src="/images/blazer-over-vista-2.png" alt="imagen-de-carrito"
                            class="img-carrito">
                        <div class="producto-info">
                            <p class="datos-producto">nombre del producto</p>
                            <p class="datos-producto">precio $100000</p>
                            <p class="datos-producto">cantidad - 1 +</p>
                        </div>
                    </div>
                    <i class="fa-solid fa-trash"></i>
                </div>
                <div class="precio">
                    <p class="texto-carrito">precio total: $</p>
                </div>
            </div>
            <p class="comprar">comprar</p>
        </div>
        <!-- recomendaciones -->

        <section class="otrosFav">
            <h3 class="otrosFav">OTROS FAV</h3>
            <div class="contenedor-otros-productos">
              <article class="productos-otrosFav dos-continentes">
                <img class="blazer-dos-conti" src="/images/dos-continentes.png" alt="blazer dos continentes">
                <a href="#" class="a-dos-conti">
                  <h4 class="h4-dos-conti">BLAZER DOS CONTINENTES</h4>
                </a>
                <p class="p-dos-conti">$ 30.000</p>
              </article>
              <article class="productos-otrosFav poison-ivy">
                <img class="chaqueta-ivy" src="/images/poison-ivy.png" alt="chaqueta poison ivy">
                <a class="a-chaqueta-ivy" href="#">
                  <h4 class="h4-chaqueta-ivy">CHAQUETA POISON IVY</h4>
                </a>
                <p class="p-chaqueta-ivy">$ 50.000</p>
              </article>
              <article class="productos-otrosFav weird-barbie">
                <img class="chaqueta-weird-barbie" src="/images/weird-barbie.png" alt="chaqueta weird barbie">
                <a class="a-weird-barbie" href="#">
                  <h4 class="h4-weird-barbie">CHAQUETA WEIRD BARBIE NEGRO</h4>
                </a>
                <p class="p-weird-barbie">$65.000</p>
              </article>
              <article class="productos-otrosFav lets-normcore">
                <img class="abrigo-lets-normcore" src="/images/norm-core.png" alt="abrigo normcore">
                <a href="#" class="a-lets-normcore">
                  <h4 class="h4-lets-normcore">ABRIGO LETS NORMCORE</h4>
                </a>
                <p class="p-lets-normcore">$85.000</p>
              </article>
            </div>
          </section>  
    </main>

 <%- include("./partials/footer")  %>


</body>

</html>