<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head", {view : "login"}) %>


    
</head>

<body>
    <header>

        <div class="encabezado">
            <p class="descuento">15% off por transferecia - 3 cuotas sin interés</p>
            <p class="envio">-envío gratis a partir de los $30.000</p>
        </div>
        <div class="header-vista-movil">
            <div class="logo">

                <img src="/images/imagen-header.png" alt="img-logo" class="img-header">
                <i class="zinke">zinke</i>
                <p class="lema">inspirate en tus instintos</p>
            </div>

            <div class="redirecciones">
                <div class="barra-productos">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div class="seleccionar-destino">

                    <div class="home">
                        <a href="/"><i class="fa-solid fa-house" style="color: gray;"></i></a>
                        <p>inicio</p>
                    </div>

                    <div class="productos">
                        <a href="/producto-detalle"><i class="fa-solid fa-list" style="color: gray;"></i></a>
                        <p>productos</p>
                    </div>

                    <div class="carrito">
                        <a href="/carrito"><i class="fa-solid fa-cart-shopping" style="color: gray;"></i></a>
                        <p>carrito</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="header-vista-tablet-pc">
            <div class="logo">
                <div class="logo-zinke">
                    <img src="/images/imagen-header.png" alt="img-logo" class="img-header">
                    <p class="Zinke">zinke</p>
                </div>
                <p class="barrra-busqueda"> &nbsp;¿que estas buscando? &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa-solid fa-magnifying-glass"></i>
                </p>
                <a href="/registro">
                    <p class="texto-header">crear cuenta</p>
                </a>

                <a href="">
                    <p class="texto-header" hidden>iniciar sesión</p>
                </a>

                <a href="/carrito">
                    <i class="fa-solid fa-cart-shopping" style="color: black;"></i>
                </a>
            </div>
            <div class="redirecciones">
                <p class="texto-header">INICIO
                    <i class="fa-solid fa-chevron-down"></i>
                </p>
                <p class="texto-header">PRODUCTOS
                    <i class="fa-solid fa-chevron-down"></i>
                </p>
                <p class="texto-header">CONTACTO
                    <i class="fa-solid fa-chevron-down"></i>
                </p>
                <p class="texto-header">QUIENES SOMOS
                    <i class="fa-solid fa-chevron-down"></i>
                </p>
                <p class="texto-header">LO MAS NUEVO!
                    <i class="fa-solid fa-chevron-down"></i>
                </p>
                <p class="texto-header">OUTLET
                    <i class="fa-solid fa-chevron-down"></i>
                </p>
            </div>
        </div>
    </header>

    <main class="login">

        <form class="contenedor-main">

            <h2 class="titulo">Inicia sesión</h2>
            <div>
                <input class="white-bar" type="email" name="email" value="" placeholder="Correo electrónico">
            </div>
            <span class="text-danger">Este campo es obligatorio</span>

            <div>
                <input class="white-bar" type="password" name="usuario" value="" placeholder="Contraseña">
            </div>
            <span class="text-danger">Este campo es obligatorio</span>

            <div class="contenedor-opciones">

                <h3 class="subtitulo">¿Olvidaste tu contraseña?</h3>
                <h3 class="subtitulo">¿No tenés cuenta? <b><a href="/registro" class="registrateLogin">Regístrate</a></b></h3>
            </div>


            <div class="contenedor-boton-login">
                <button type="submit" class="boton-login">ENVIAR</button>
            </div>


            <h2 class="titulo">O Inicia con ...</h2>


            <div class="contenedor-redes">
                <i class="fa-brands fa-facebook" style="color: #3b5998; font-size: 100px;"></i>
                <i class="fa-brands fa-twitter" style="color: #00acee; font-size: 100px;"></i>
                <i class="fa-brands fa-google" style="color: #db4a39; font-size: 100px;"></i>
            </div>

        </form>
    </main>


    <%- include("./partials/footer")  %>

    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>