<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/library/glider.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Zinke vistaProducto</title>
</head>

<body class="vista-producto">
  <header>

    <div class="encabezado">
      <p class="descuento">15% off por transferecia - 3 cuotas sin interés</p>
      <p class="envio">-envío gratis a partir de los $30.000</p>
    </div>
    <div class="header-vista-movil">
      <div class="logo">

        <img src="/images/imagen-header.png" alt="img-logo" class="img-header">
        <i class="zinke">zinke</i>
        <p class="lema">inspirate en tus instintos</p>
      </div>

      <div class="redirecciones">
        <div class="barra-productos">
          <i class="fa-solid fa-bars"></i>
        </div>

        <div class="seleccionar-destino">

          <div class="home">
            <a href="/home"><i class="fa-solid fa-house" style="color: gray;"></i></a>
            <p>inicio</p>
          </div>

          <div class="productos">
            <a href="/productDetail"><i class="fa-solid fa-list" style="color: gray;"></i></a>
            <p>productos</p>
          </div>

          <div class="carrito">
            <a href="/carrito.html"><i class="fa-solid fa-cart-shopping" style="color: gray;"></i></a>
            <p>carrito</p>
          </div>
        </div>

      </div>
    </div>
    <div class="header-vista-tablet-pc">
      <div class="logo">
        <div class="logo-zinke">
          <img src="/images/imagen-header.png" alt="img-logo" class="img-header">
          <p class="Zinke">zinke</p>
        </div>
        <p class="barrra-busqueda"> &nbsp;¿que estas buscando? &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa-solid fa-magnifying-glass"></i>
        </p>
        <a href="/registro">
          <p class="texto-header">crear cuenta</p>
        </a>

        <a href="/ingreso">
          <p class="texto-header">iniciar sesión</p>
        </a>

        <a href="/carrito">
          <i class="fa-solid fa-cart-shopping" style="color: black;"></i>
        </a>
      </div>
      <div class="redirecciones">
        <p class="texto-header">INICIO
          <i class="fa-solid fa-chevron-down"></i>
        </p>
        <p class="texto-header">PRODUCTOS
          <i class="fa-solid fa-chevron-down"></i>
        </p>
        <p class="texto-header">CONTACTO
          <i class="fa-solid fa-chevron-down"></i>
        </p>
        <p class="texto-header">QUIENES SOMOS
          <i class="fa-solid fa-chevron-down"></i>
        </p>
        <p class="texto-header">LO MAS NUEVO!
          <i class="fa-solid fa-chevron-down"></i>
        </p>
        <p class="texto-header">OUTLET
          <i class="fa-solid fa-chevron-down"></i>
        </p>
      </div>
    </div>
  </header>


  <main class="vista-producto">
    <div class="contenedor-busqueda">
      <a href="/" class="inicio">Inicio/</a>
      <a href="/productDetail" class="productos">Productos/</a>
      <a href="#" class="abrigos">Abrigos/</a>
      <a class="blazer">Blazer oversize negro</a>
    </div>

    <!---CONTENEDORES DE LAS VISTAS DEL PRODUCTO-->
    



   <section class="visualizacion-producto">

    <div class="contenedor-vistas-imagenes">

    <div class="glider-contain">
      <div class="glider">
      <!--img 1-->
        <div>
          
          <div class="contenedor-blazerOver-principal">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-regular fa-heart"></i>
            <div class="contenedor-img-principal">
                <img class="blazer-over-principal" src="/images/blazer-1.png" alt="Blazer overside negro">
            </div>
         </div>


        </div>

        <!--img 2-->

        <div>

          <div class="contenedor-blazerOver-principal">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-regular fa-heart"></i>
            <div class="contenedor-img-principal">
                <img class="blazer-over-principal" src="/images/blazer-over-vista-2.png" alt="Blazer overside negro">
            </div>
         </div>
          
        </div>

        <!--img 3-->
        <div>
          <div class="contenedor-blazerOver-principal">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-regular fa-heart"></i>
            <div class="contenedor-img-3">
              <img class="blazer-over-principal" src="/images/blazer-over-vista3.png" alt="Blazer overside negro">
            </div>
          </div>

        </div>

        <!--img 4-->

        <div>
        
          <div class="contenedor-blazerOver-principal">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-regular fa-heart"></i>
            <div class="contenedor-img-4">
              <img class="blazer-over-principal" src="/images/blazer-over-vista4.jpg" alt="Blazer overside negro">
            </div>
          </div>
          
        </div>
       
        
      </div>
    
      <button aria-label="Previous" class="glider-prev"><i class="fa-solid fa-angle-left"></i></button>
      <button aria-label="Next" class="glider-next"><i class="fa-solid fa-angle-right"></i></button>
      <div role="tablist" class="dots"></div>
    </div>

    </div>



    

      <!--CONTENEDOR GLOBAL DE TODA LA DATA DEL PRODUCTO QUE NO SEAN FOTOS-->
      <div class="contenedor-global-info-producto">


        <!---CONTENEDOR DE DATOS PRINCIPALES DEL PRODUCTO NOMBRE-PRECIO-TALLE-->
        <div class="nombre-precio-talle">
          <h2 class="blazer-over">BLAZER OVERSIZE NEGRO</h2>
          <P class="precio">$ 32.000</P>
          <P class="talle">TALLE: <span>2</span></p>
        </div>

        <div class="talles">
          <div class="uno">
            <button type="button" class="boton-uno">1
            </button>
          </div>
          <div class="dos">
            <button type="button" class="boton-dos">2
            </button>
          </div>
          <div class="tres">
            <button type="button" class="boton-tres">3
            </button>
          </div>
          <div class="cuatro">
            <button type="button" class="boton-cuatro">4
            </button>
          </div>
          <div class="cinco">
            <button type="button" class="boton-cinco">5
            </button>
          </div>
          <div class="seis">
            <button type="button" class="boton-seis">6
            </button>
          </div>

        </div>

        <div class="cantidad-carrito">
          <form class="form-carrito" action="/productDetail" method="POST">
            <label class="label-carrito" for="cantidad">CANTIDAD</label>
            <input class="input-carrito" type="number" name="cantidad" value="" id="cantidad" placeholder="1">
            <div class="contenedor-boton-carrito">
              <button type="submit" class="agregar-carrito"><a href="/carrito">AGREGAR AL CARRITO</button>
            </div>
          </form>
        </div>

        <!---CONTENEDOR ENVIO Y MEDIOS DE ENVIO-->

        <div class="envio">
          <form action="/productDetail" method="POST" class="form-carrito">
            <i class="fa-solid fa-truck"></i>
            <label class="label-carrito" for="medioEnvio">Medios de envío</label>
            <input class="input-carrito" type="number" name="envio" value="" id="medioEnvio"
              placeholder="Tu código postal">
            <button type="submit" class="boton-calcular">CALCULAR</button>
            <p class="nose-postal">No sé mi código postal</p>
          </form>
        </div>

        <!---CONTENEDOR DE INFO ADICIONAL PARA LA COMPRA-->

        <article class="info-adicional-compra">
          <div class="detalle-talles">
            <i class="fa-solid fa-ruler-combined"></i>
            <h3 class="talles">Guía de talles</h3>
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="cambiosDevo">
            <i class="fa-solid fa-arrows-rotate"></i>
            <h3 class="cambios">Cambios y devoluciones</h3>
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="formaPago">
            <i class="fa-solid fa-id-card"></i>
            <h3 class="formaPago">Forma de pago</h3>
            <i class="fa-solid fa-plus"></i>
          </div>
        </article>

      </div>

    </section>

      <!---------------DESCRIPCIÓN DESTACADA DEL PRODUCTO MÁS EXTENSA------->

    <article class="contenedor-descripcion">
      <p class="descripcion">Saco negro con doble solapa y doble botonera. Confeccionado en mezcla de lino y rayón, una
        tela fluída con textura levemente rústica, con cuerpo y súper cómoda. Cerramiento con botones diseñados
        exclusivamente para la marca, hombros marcados, forrería a tono. Calce recto, largo pasando la cadera.
        Composición: 55% Lino- 45% Rayón. Color: Negro</p>
      <h5 class="descripcion-destacada"> Perfecto para verte urbanx, clasicx y edgy</p>
    </article>

    <!-----OTROS PRODUCTOS------->

    <section class="otrosFav">
      <h3 class="otrosFav">OTROS FAV</h3>
      <div class="contenedor-otros-productos">
        <article class="productos-otrosFav dos-continentes">
          <img class="blazer-dos-conti" src="/images/dos-continentes.png" alt="blazer dos continentes">
          <a href="#" class="a-dos-conti">
            <h4 class="h4-dos-conti">BLAZER DOS CONTINENTES</h4>
          </a>
          <p class="p-dos-conti">$ 30.000</p>
        </article>
        <article class="productos-otrosFav poison-ivy">
          <img class="chaqueta-ivy" src="/images/poison-ivy.png" alt="chaqueta poison ivy">
          <a class="a-chaqueta-ivy" href="#">
            <h4 class="h4-chaqueta-ivy">CHAQUETA POISON IVY</h4>
          </a>
          <p class="p-chaqueta-ivy">$ 50.000</p>
        </article>
        <article class="productos-otrosFav weird-barbie">
          <img class="chaqueta-weird-barbie" src="/images/weird-barbie.png" alt="chaqueta weird barbie">
          <a class="a-weird-barbie" href="#">
            <h4 class="h4-weird-barbie">CHAQUETA WEIRD BARBIE NEGRO</h4>
          </a>
          <p class="p-weird-barbie">$65.000</p>
        </article>
        <article class="productos-otrosFav lets-normcore">
          <img class="abrigo-lets-normcore" src="/images/norm-core.png" alt="abrigo normcore">
          <a href="#" class="a-lets-normcore">
            <h4 class="h4-lets-normcore">ABRIGO LETS NORMCORE</h4>
          </a>
          <p class="p-lets-normcore">$85.000</p>
        </article>
      </div>
    </section>

    <div class="boton-whatsapp">
      <img src="/images/whatsapp.png" class="whatsapp-simbol" alt="whatsapp-símbolo"/>
    </div>


    <!--------IMAGEN DE CIERRE CON MENSAJE DE LA MARCA------------->

    <div class="imagen-cierre">

      <img src="/images/mensaje-de-la-marca-desktop-tablet.png" alt="banner_inferior" class="imagen-cierre-desk-tablet">
      <img src="/images/mensaje-de-la-marca-phone.png" alt="mensaje marca mobile" class="imagen-cierre-mobile">
    </div>

  </main>
  <footer class="footer">
    <div class="footer-movil">
      <!-- vista movil -->
      <p class="SEGUINOS">SEGUINOS</p>
      <p class="emotes">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-square-youtube"></i>
      </p>
      <i class="fa-solid fa-truck"></i>
      <a class="ENVIO">ENVIO GRATIS DESDE </a>
      <p class="dinero">$30.000</p>
      <p class="Correo">Correo Argentino / Andreani / Oca / Pickit</p>
      <p>
        <!-- emotes como referencia -->
        <i class="fa-solid fa-circle"></i> <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
      </p>
      <div class="datos">
        <p class="NAVEGACIÓN">NAVEGACIÓN</p>
        <p class="Preguntas">Cómo Comprar?</p>
        <p>Preguntas Frecuentes</p>
        <p>Talles y Medidas</p>
        <p>Políticas de cambio y devoluciones</p>
        <p>Contacto</p>
        <p class="medios">MEDIOS DE PAGO</p>
        <p>
          <img src="/images/image-1-footer.png" alt="img-footer-1" class="img-1">
        </p>

        <p class="">FORMAS DE ENVÍO</p>
        <img src="/images/image-4-footer.png" alt="img-footer-2" class="img-2">
        <p class="Contacto"><i class="fa-solid fa-phone" style="color: #ffffff;"></i>CONTACTANOS</p>
        <p class="">1134******</p>
        <p class="gmail"><i class="fa-solid fa-envelope"></i> zinke**@******</p>
      </div>
      <p class="copy">Copyright Zinke - 2023. Todos los derechos reservados.
        Defensa de las y los consumidores.<a href="">Para reclamos ingresá acá.</a> /<a href=""> Botón de
          arrepentimiento</a></p>
      <p class="cookies">Al navegar por este sitio aceptás el uso de cookies para agilizar tu experiencia de
        compra.
      </p>
      <p class="Botón">entendido</p>
    </div>
    <div class="footer-tablet">
      <!-- vista tablet y pc -->
      <div class="columna-1">
        <p class="texto-especial texto">Sobre nosotros</p>

        <p class="texto">texto texto texto texto</p>
        <p class="texto">texto texto</p>
        <p class="texto">texto texto texto</p>
        <p class="texto">texto</p>
        <p class="texto">texto texto texto</p>
      </div>
      <div class="columna-2">
        <p class="texto-especial">Sobre nosotros</p>

        <p class="texto">texto texto texto</p>
        <p class="texto">texto texto</p>
        <p class="texto">texto texto</p>
      </div>

      <div class="columna-3">
        <p class="texto-especial">Ayuda</p>

        <p class="texto">texto texto</p>
        <p class="texto">texto texto</p>
        <p class="texto">texto texto texto</p>
        <p class="texto">texto</p>
        <p class="texto">texto texto texto</p>
      </div>
      <div class="columna-4">

        <p class="texto-especial">Boletín informativo</p>

        <p class="texto">texto texto texto texto texto</p>
        <p class="texto">texto texto</p>
        <p class="email">Escribe tu email</p>
        <p class="registrate">REGISTRATE</p>
      </div>

      <div class="columna-5">
        <p class="texto-especial texto">Formas de pago aceptadas</p>
        <img src="/images/image-2-footer.png" alt="img-tablet-1" class="img-tablet-1">
      </div>

      <div class="columna-6">
        <p class="texto-especial">Síguenos en redes</p>
        <div class="columna-6-mini">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-square-youtube"></i>
        </div>
      </div>

      <div class="columna-7">
        <p class="texto-especial">Compra Segura</p>
        <img src="/images/image-3-footer.png" alt="img-tablet-2" class="img-tablet-2">
      </div>


    </div>

  </footer>

  
<!--SCRIPT DE GLIDER-->
<script src="/js/library/glider.min.js"></script>

<!--SCRIPT DE CONFIGS GLIDER-->
<script src="/js/configs/glider.js"></script>


</body>

</html>