.main-carrito {
  /* border: solid #28b49e 2px; */
}
/* carrito sin contenido */
.main-carrito .carrito-vacio {
  text-align: center;
  display: none;
}
.main-carrito .carrito-vacio .fa-bag-shopping {
  font-size: 400%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.main-carrito .carrito-vacio .texto-1 {
}
.main-carrito .carrito-vacio .texto-2 {
}
.main-carrito .carrito-vacio .explorar-carrito {
}
.main-carrito .productos {
  display: flex;
  /* border: solid #64caba 1px; */
  /* margin-top: 0%; */
  margin-left: 3%;
  flex-direction: column;
  width: auto;
  /* margin: auto; */
  align-items: center;
}
.main-carrito .productos .info-compra {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
  width: auto;
  /* border: solid 1px #0d6efd; */
  padding: 5px;
  border-radius: 17px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 41%);
  width: 300px;
}
.main-carrito .productos .info-compra .info-datos-img {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  /* width: 100%; */
}
.main-carrito .productos .info-compra .info-datos-img .img-carrito {
  width: 100px;
  /* padding-top: 3%; */
  /* padding-bottom: 6%; */
  /* margin-left: 5%; */
  margin-right: 5%;
  object-fit: cover;
}
.main-carrito .productos .info-compra .producto-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.producto-info i {
  /* padding: 10px; */
  color: black;
  border-radius: 30px;
}

/* vista movil */
.main-carrito {
}
.main-carrito .carrito-vacio {
  text-align: center;
  margin-top: 27px;
}
.main-carrito .carrito-vacio .fa-bag-shopping {
  font-size: 400%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.main-carrito .carrito-vacio .texto-1 {
  margin: 0;
  font-size: 150%;
}
.main-carrito .carrito-vacio .texto-2 {
  margin: 0;
  font-size: 150%;
}
.main-carrito .carrito-vacio .explorar-carrito {
  font-size: 170%;
  color: #27b29c;
  margin: revert;
}
.vista-carrito-con-productos {
  /* display: none; */
  /* display: flex; */
  width: 100%;
}

.main-carrito .productos .info-compra .info-datos-img {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.main-carrito
  .productos
  .info-compra
  .info-datos-img
  .img-carrito
  .main-carrito
  .productos
  .info-compra
  .info-datos-img
  .img-carrito {
  /* padding-top: 1%; */
  padding-bottom: 8%;
  width: 29%;
  margin-left: 1%;
}
.main-carrito .productos .info-compra .producto-info {
  /* padding-top: 5%; */
  /* font-size: 108%; */
  width: 86%;
  margin-bottom: 0%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.main-carrito .productos .info-compra .producto-info .datos-producto {
  margin: 1%;
  font-size: 90%;
  /* width: 70px; */
  white-space: nowrap;
}

.producto-info .talles-opciones {
  position: absolute;
  background-color: white;
  border: solid 1px;
  margin-top: 95px;
  display: none;
  z-index: 1;
  border: solid 0px;
  padding: 1px;
  box-shadow: 0px 4px 9px rgb(0 0 0 / 41%);
  overflow-y: auto;
  height: 50px;
  width: 80px;
}

.input-carrito-talles:checked ~  .producto-info .talles-opciones {
  display: revert;
}

.main-carrito .productos .info-compra .producto-info .datos-producto button{
    width: 25px;
    background-color: transparent;
    border-radius: 20px;
    border: 0px;
    width: 20px;
    /* box-shadow: 0 4px 8px rgb(0 0 0 / 51%); */
}

.producto-info .colores-opciones{
  position: absolute;
  background-color: white;
  /* bottom: 24%; */
  padding: 5px;
  /* border-bottom: 1px solid; */
  width: auto;
  height: 50px;
  margin-top: 120px;
  width: 80px;
  display: none;
  overflow-y: auto;
  box-shadow: 0px 4px 9px rgb(0 0 0 / 41%);
  border-radius: 0px 0px 10px 10px;
  /* scrollbar-width: none; */
}
.producto-info .colores-opciones p button{
  
background-color: transparent;
  
border: black;
}
.producto-info .colores-opciones p{
  margin: 0
}

.input-carrito-colores:checked ~  .producto-info .colores-opciones {
  display: block;
  /* padding: 1px; */
  width: 100px;
}
.input-carrito-talles:checked ~  .producto-info p label .boton-talles {
  transform: rotate(180deg);
}

.input-carrito-colores:checked ~  .producto-info p label .boton-colores {
  transform: rotate(180deg);
}

.main-carrito .productos .info-compra div button {
  background-color: #10ffd600;
  border: #10ffd6;
}

.main-carrito .productos .info-compra div button .fa-trash {
  /* margin-right: 2%; */
  position: relative;
  font-size: 15px;
  box-shadow: 0 4px 8px rgb(61 73 69 / 1%);
  margin-top: 8px;
  margin-right: 4px;
}
.main-carrito .productos .info-compra div button .fa-trash:hover {
  box-shadow: 0 4px 8px rgb(61 73 69 / 75%);
  color: #655656;
}
.main-carrito .precio {
  /* border-top: solid 1px #65cbbb; */
  text-align: center;
  /* margin-top: 20px; */
  width: 50%;
}
.main-carrito .precio .texto-carrito {
  margin: revert;
  /* margin-bottom: -10px; */
}
/* .vista-carrito-con-productos */
div .comprar {
  text-align: center;
  font-size: 100%;
  /* border: solid 1px #32e0c4; */
  background-color: #32e0c4;
  width: 90%;
  margin: auto;
  /* margin-top: 30px; */
  padding: 5px;
  border-radius: 10px;
  border: solid 1px #32e0c4;
  /* margin-top: 0; */
  margin-top: 10px;
  box-shadow: 0 4px 8px rgb(61 73 69 / 41%);
}
div .comprar:hover {
  box-shadow: 0 4px 8px rgb(61 73 69 / 100%);
  background-color: #10ffd6;
}



/*-----------BOTONES-----------*/

.main-carrito .boton-de-cerrar {
  position: fixed;
  right: 20px;
  bottom: 150px;
  font-size: 30px;
  color: #27b29c;
  transition: 1s;
}
.main-carrito .boton-de-cerrar label {
  background-color: transparent;
  border-color: transparent;
  transform: rotate(180deg);
  transition: 1s;
}

.main-carrito .botones {
  position: fixed;
  right: 20px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  margin: auto;
  /* margin-top: 30px; */
  height: 150px;
  box-shadow: 0 4px 8px rgb(0 0 0);
  background-color: white;
  bottom: 0px;
  left: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* transition: transform 1s ease-in-out; */
  transition: 1s;
}

.input-carrito:checked ~ .botones {
  bottom: -200px;
}
.input-carrito:checked ~ .boton-de-cerrar {
  bottom: 00px;
  transition: 1s;
  transform: rotate(180deg);
}

.main-carrito .botones .vaciar {
  margin: auto;
  width: 40%; /* margin-top: 10px; */
  border: 1px solid #f99b7d;
  background-color: #ffefd6;
  color: black;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(211 146 146 / 10%); 
}
.main-carrito .botones .vaciar:hover {
  background-color: #f99b7d;
  box-shadow: 0 4px 8px rgb(211 146 146 / 100%); 
}
.main-carrito .botones .mirar {
  margin: auto;
  width: 40%;
  border: 1px solid black;
  font-size: 15px;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 22%);
  text-align: center;
}
.main-carrito .botones .mirar:hover {
  background-color: rgb(27, 27, 27);
  box-shadow: 0 4px 8px rgb(0 0 0 / 70%);
}

/*----SECCIÓN DE OTROS ARTÍCULOS FAVORITOS-----*/

.main-carrito section.otrosFav {
  width: 86%;

  margin-left: 30px;

  margin-bottom: 40px;
}

.main-carrito section.otrosFav h3.otrosFav {
  margin: 25px 0 30px 0px;
  border-bottom: 3px solid var(--verde-azulado-claro);
  font-size: var(--letra-favMobile);
  background: linear-gradient(
    var(--verde-azulado-claro),
    var(--molocoton-oscuro)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: 100%;
}

.main-carrito div.contenedor-otros-productos {
  display: flex;

  width: 100%;

  flex-wrap: wrap;

  justify-content: center;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.dos-continentes {
  width: 45%;
  height: 223px;
  /* padding: 10px 20px 10px 20px; */
  border: 1px solid var(--gris-claro);
  border-radius: 5%;
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  img.blazer-dos-conti {
  width: 100px;

  margin: 10px;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  a.a-dos-conti {
  text-decoration: none;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  a.a-dos-conti
  h4.h4-dos-conti {
  margin-top: 13%;

  font-size: var(--letra-mas-pequeña);

  color: var(--gris-claro);

  font-weight: 500;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  p.p-dos-conti {
  margin-top: 2px;

  color: var(--gris-claro);

  font-size: var(--letra-mediana);

  letter-spacing: 1px;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.poison-ivy {
  width: 45%;

  height: 200px;

  border: 1px solid var(--gris-claro);

  border-radius: 5%;

  text-align: center;

  margin-left: 10px;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  img.chaqueta-ivy {
  width: 90px;

  top: -10px;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  a.a-chaqueta-ivy {
  text-decoration: none;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  a.a-chaqueta-ivy
  h4.h4-chaqueta-ivy {
  font-weight: 500;

  font-size: var(--letra-mas-pequeña);

  color: var(--gris-claro);
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  p.p-chaqueta-ivy {
  margin-top: 2px;

  color: var(--gris-claro);

  font-size: var(--letra-mediana);

  letter-spacing: 1px;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.weird-barbie {
  width: 45%;

  margin-top: 20px;

  border: 1px solid var(--gris-claro);

  border-radius: 5%;

  text-align: center;

  height: 200px;

  margin-right: 10px;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  img.chaqueta-weird-barbie {
  width: 100px;

  margin-bottom: 11%;

  position: relative;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  a.a-weird-barbie {
  text-decoration: none;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  a.a-weird-barbie
  h4.h4-weird-barbie {
  font-size: var(--letra-mas-pequeña);

  color: var(--gris-claro);

  font-weight: 500;

  width: 100%;

  margin-top: 0;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  p.p-weird-barbie {
  margin-top: 2px;

  color: var(--gris-claro);

  font-size: var(--letra-mediana);

  letter-spacing: 1px;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.lets-normcore {
  width: 45%;

  padding: 0 20px 10px 20px;

  border: 1px solid var(--gris-claro);

  border-radius: 5%;

  margin-top: 20px;

  text-align: center;

  height: 200px;

  margin-left: 10px;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  img.abrigo-lets-normcore {
  width: 90px;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  a.a-lets-normcore {
  text-decoration: none;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  a.a-lets-normcore
  h4.h4-lets-normcore {
  font-size: var(--letra-mas-pequeña);

  color: var(--gris-claro);

  font-weight: 500;
}

.main-carrito
  section.otrosFav
  div.contenedor-otros-productos
  article.productos-otrosFav
  p.p-lets-normcore {
  margin-top: 2px;

  color: var(--gris-claro);

  font-size: var(--letra-mediana);

  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .main-carrito {
  }
  /* carrito sin contenido */
  .main-carrito .carrito-vacio {
    text-align: center;
    margin-top: 60px;
  }
  .main-carrito .carrito-vacio .fa-bag-shopping {
    font-size: 700%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .main-carrito .carrito-vacio .texto-1 {
    margin: 0;
    font-size: 210%;
    margin-top: revert;
  }
  .main-carrito .carrito-vacio .texto-2 {
    margin: 0;
    font-size: 210%;
  }
  .main-carrito .carrito-vacio .explorar-carrito {
    font-size: 350%;
    color: #27b29c;
  }
  /* carrito con contenido */
  .vista-carrito-con-productos {
    display: flex;
  }
  .main-carrito .productos {
    /* margin: auto; */
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    /* margin-top: 40px; */
    width: auto;
    margin: auto;
    margin-left: 5%;
    margin-top: 1%;
    width: 50%;
  }
  .main-carrito .productos .info-compra {
  width: 350px;
  }
  .main-carrito .productos .info-compra .info-datos-img {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* width: 100%; */
  }
  .main-carrito .productos .info-compra .info-datos-img .img-carrito {
    width: 87px;
    height: 100px;
  }

  .main-carrito .productos .info-compra .img-carrito {
    margin-left: 1.4%;
  }
  .main-carrito .productos .info-compra .producto-info {
    /* padding-top: 1%; */
    /* font-size: 108%; */
    width: 200px;
    /* margin-bottom: -2%; */
    padding-right: 20px;
  }
  .main-carrito .productos .info-compra .producto-info .datos-producto {
    margin: 1%;
    font-size: 14px;
    /* width: 166%; */
    padding-right: 40px;
  }
  .main-carrito .productos .info-compra .fa-trash {
    margin-right: 2%;
    margin-top: 3%;
    font-size: 14px;
  }
  .main-carrito .precio {
    /* border-top: solid 1px #65cbbb; */
    text-align: center;
    /* margin-top: 20px; */
    font-size: 28px;
    width: 100%;
  }
  .main-carrito .precio .texto-carrito {
    /* padding-top: 4%; */
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }
  /* .vista-carrito-con-productos  */
  div .comprar {
    text-align: center;
    /* font-size: 19px; */
    /* border: solid 1px #32e0c4; */
    background-color: #32e0c4;
    width: 70%;
    margin: auto;
    /* margin-top: 80px; */
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* BOTONES */

  .input-carrito:checked ~ .botones {
    bottom: 0px;
  }

  .main-carrito .boton-de-cerrar {
    display: none;
  }

  .main-carrito .botones {
    position: relative;
    right: 20px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 32%;
    margin: auto;
    flex-direction: column;
    margin-top: 30px;
    height: 220px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
  }

  .main-carrito .botones .vaciar {
    margin: auto;

    width: 70%;

    margin-top: 10px;

    border: 1px solid #f99b7d;

    background-color: #ffefd6;

    color: black;

    padding: 5px;

    border-radius: 10px;

    /* font-size: 60%; */
  }
  .main-carrito .botones .mirar {
    margin: auto;
    width: 70%;
    border: 1px solid black;
    font-size: 15px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
  }

  /*----SECCIÓN DE OTROS ARTÍCULOS FAVORITOS-----*/

  .main-carrito section.otrosFav {
    width: 90%;
  }

  .main-carrito section.otrosFav div.contenedor-otros-productos {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.dos-continentes {
    padding: 10px 20px 10px 20px;
    border: 1px solid var(--gris-claro);
    border-radius: 5%;
    width: 25%;
    /* text-align: center; */
    height: 283px;
    /* margin-right: revert; */
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    img.blazer-dos-conti {
    width: 143px;
    margin: 0;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    a.a-dos-conti
    h4.h4-dos-conti {
    font-size: var(--letra-mediana);
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.poison-ivy {
    width: 31%;
    height: 300px;
    padding: 0 20px 10px 20px;
    margin-left: revert;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    img.chaqueta-ivy {
    width: 145px;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    a.a-chaqueta-ivy
    h4.h4-chaqueta-ivy {
    font-size: var(--letra-mediana);
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.weird-barbie {
    width: 30%;
    height: 300px;
    margin-right: revert;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    img.chaqueta-weird-barbie {
    width: 172px;
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    a.a-weird-barbie
    h4.h4-weird-barbie {
    font-size: var(--letra-mediana);
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.lets-normcore {
    display: none;
  }
}

@media (min-width: 1024px) {
  .main-carrito {
  }
  /* carrito sin contenido */
  .main-carrito .carrito-vacio {
    text-align: center;
  }
  .main-carrito .carrito-vacio .fa-bag-shopping {
    font-size: 1000%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .main-carrito .carrito-vacio .texto-1 {
    margin: 0;
    font-size: 260%;
  }
  .main-carrito .carrito-vacio .texto-2 {
    margin: 0;
    font-size: 260%;
  }
  .main-carrito .carrito-vacio .explorar-carrito {
    font-size: 400%;
    color: #27b29c;
  }
  /* carrito con contenido */
  .vista-carrito-con-productos {
  }
  .main-carrito .productos {
    margin-right: 60px;
    margin-left: 61px;
    width: 50%;
  }
  .main-carrito .productos .info-compra {
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    width: 450px;
  }
  .main-carrito .productos .info-compra .info-datos-img {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* flex-direction: row; */
  }
  .main-carrito .productos .info-compra .info-datos-img .img-carrito {
    /* width: 15%; */
    padding-bottom: 0;
    width: 120px;
    height: 150px;
  }
  .main-carrito .productos .info-compra .img-carrito {
    margin-left: 1.4%;
  }
  .input-carrito-talles:checked ~ .producto-info .talles-opciones {
    margin-top: 145px;
    border: solid 0px;
    padding: 1px;
    z-index: 1;
    width: auto;
    padding: 10px;
}
  
  .input-carrito-colores:checked ~ .producto-info .colores-opciones {
    margin-top: 180px;
    font-size: 2px;
    width: 120px;
}
  .main-carrito .productos .info-compra .producto-info {
    padding-top: 1%;
    /* width: 50%; */
    display: flex;
    justify-content: flex-start;
    width: 300px;
  }
  .main-carrito .productos .info-compra .producto-info .datos-producto {
    /* margin: 2.6%; */
    /* margin-left: 6%; */
    font-size: 20px;
    /* padding-right: 63px; */
  }
  .main-carrito .productos .info-compra .fa-trash {
    margin-right: 2%;
    margin-top: 3%;
    font-size: 20px;
  }
  .main-carrito .precio {
    /* border-top: solid 1px #65cbbb; */
    /* text-align: center; */
    /* margin-top: 45px; */
    font-size: 40px;
  }
  .main-carrito .precio .texto-carrito {
    font-size: 25px;
  }
  /* carrito con contenido */
  /* .vista-carrito-con-productos  */
  .comprar {
    text-align: center;
    font-size: 98%;
    border: solid 1px #32e0c4;
    background-color: #32e0c4;
    width: 31%;
    margin: auto;
    margin-top: 65px;
    /* padding: 7px; */
    border-radius: 500px;
  }

  /*----SECCIÓN DE OTROS ARTÍCULOS FAVORITOS-----*/

  .main-carrito section.otrosFav {
    margin-top: 70px;
  }
  .main-carrito section.otrosFav div.contenedor-otros-productos {
    width: 103%;
  }

  .main-carrito section.otrosFav h3.otrosFav {
    font-size: var(--letra-titular-mayor);

    width: 100%;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav {
    height: 444px;
    flex-basis: 30%;
    text-align: center;
    overflow: hidden;
    width: 35%;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    img.blazer-dos-conti {
    width: 241px;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    a.a-dos-conti
    h4.h4-dos-conti {
    font-size: var(--letra-grande);
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    p.p-dos-conti {
    font-size: var(--letra-grande);
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.poison-ivy {
    width: 30%;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    img.chaqueta-ivy {
    width: 194px;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    a.a-chaqueta-ivy
    h4.h4-chaqueta-ivy {
    font-size: var(--letra-grande);
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    p.p-chaqueta-ivy {
    font-size: var(--letra-grande);
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    img.chaqueta-weird-barbie {
    width: 240px;
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    a.a-weird-barbie
    h4.h4-weird-barbie {
    font-size: var(--letra-grande);
  }

  .main-carrito
    section.otrosFav
    div.contenedor-otros-productos
    article.productos-otrosFav
    p.p-weird-barbie {
    font-size: var(--letra-grande);
  }
}
