
/*CONTENEDOR GLOBAL DE TODOS LOS ESTILOS*/
main.editar-producto div.vista-producto-editar-contenedor{
    margin-left: 50px;
    width: 80%;
}

/*CONTENEDOR BOTÓN VOLVER Y TÍTULO PRINCIPAL*/
main.editar-producto div.vista-producto-editar-contenedor div.contenedor-titulo-boton-editar{
    width: 100%;
}

/*BOTÓN VOLVER A LISTADO DE PRODUCTO*/
main.editar-producto div.vista-producto-editar-contenedor  a.btn-custom-producto{
    font-size: var(--letra-mediana);
    background-color: var(--verde-azulado-claro);
    color: var(--blanco);
    border: none;
    width: 150px;
    height: 35px;
    transition: all 1s ease-in-out;
}

main.editar-producto div.vista-producto-editar-contenedor  a.btn-custom-producto:hover{
   background-color: var(--gris85);
   color: var(--verde-azulado-claro)
}

/*TITULO MAYOR DE LA PÁGINA*/
main.editar-producto div.vista-producto-editar-contenedor div.contenedor-titulo-boton-editar h1.text-custom-producto{
  background-image: linear-gradient(var(--verde-azulado-claro), var(--molocoton-oscuro));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.8em;
  font-weight: bold;
  letter-spacing: 1.2px;
  opacity: 0.9;
  transition: transform 0.5s ease;
  animation: fadeIn 1s ease-out forwards;
}

/*CONTENEDOR DE TODOS LA FORM*/
main.editar-producto div.vista-producto-editar-contenedor div.card {
    border: none;
    box-shadow: 0 0 20px 4px #409196;
}

/*CONTENEDOR DEL INPUT NOMBRE PRODUCTO*/


/*LABEL NOMBRE PRODUCTO*/
main.editar-producto div.vista-producto-editar-contenedor div.card div.container div div.nombre-producto-edit label.nombre-producto{
  color: var(--verde-azulado-claro);
  font-size: var(--letra-mediana);
  margin-bottom: 7px;

}

/*IMPUT NOMBRE PRODUCTO*/
main.editar-producto div.vista-producto-editar-contenedor div.card div.container div div.nombre-producto-edit input.nombre-producto{
  border: 1.5px solid var(--gris-claro);
  border-radius: 10px;
  padding: 7px 10px;
  height: 42px;
}

main.editar-producto div.vista-producto-editar-contenedor div.card div.container div div.nombre-producto-edit input.nombre-producto:focus{
  outline: none;
  border: none;
  box-shadow: 0 0 2px 2px inset var(--verde-azulado-claro);
}

/*CONTENEDPOR PRECIO PRODUCTO*/

/*LABEL PRECIO PRODUCTO*/
main.editar-producto div.vista-producto-editar-contenedor div.card div.container div div.precio-producto-edit label.precio-producto{
  color: var(--verde-azulado-claro);
  font-size: var(--letra-mediana);
  margin-bottom: 7px;

}

/*INPUT PRECIO PRODUCTO*/
main.editar-producto div.vista-producto-editar-contenedor div.card div.container div div.precio-producto-edit input.precio-producto{
  border: 1.5px solid var(--gris-claro);
  border-radius: 10px;
  padding: 7px 10px;
  height: 42px;
}

main.editar-producto div.vista-producto-editar-contenedor div.card div.container div div.precio-producto-edit input.precio-producto:focus{
  outline: none;
  border: none;
  box-shadow: 0 0 2px 2px inset var(--verde-azulado-claro);
}

/*SELECCIONAR CATEGORIA DE PRODUCTO*/
main.editar-producto div.seleccionar-categoria {
  position: relative;
}

main.editar-producto div.seleccionar-categoria select.categoria-producto{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1.5px solid var(--gris-claro);
  /*  display: inline-block;*/
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  color: var(--gris-pizarra);
  background-color: var(--verde-azulado);
  border-radius: 10px;
  position: relative;
  transition: all 0.5s ease;
  font-size: var(--letra-pequeña);
}

main.editar-producto div.seleccionar-categoria select.categoria-producto::-ms-expand{
  display: none;
}

main.editar-producto div.seleccionar-categoria select.categoria-producto:hover{
	background: var(--verde-azulado-claro);
}


main.editar-producto div.seleccionar-categoria select.categoria-producto:focus{
  outline: none;
  border: none;
  box-shadow: 0 0 2px 2px inset var(--verde-azulado);
}

/*-----ICONO DEL SELECT----------*/
main.editar-producto div.seleccionar-categoria div.contenedor-seleccionar-categoria i.fa-caret-down{
  color: var(--gris-claro);
  font-size: 1.2rem;
	position: absolute;
	right: 30px;
	top: calc(50% - 10px);
	display: block;
}

/*--------DESCRIPCIÓN DEL PRODUCTO----------*/

/*DESCRIPCIÓN MAYOR O MÁS LARGA*/

main.editar-producto div.descripcion-producto-editar div.texarea-descripcion-mayor textarea{
  border-radius: 10px;
  border: 1.5px solid var(--gris-claro);

}

main.editar-producto div.descripcion-producto-editar div.texarea-descripcion-mayor textarea:focus{
  outline: none;
  border: none;
  box-shadow: 0 0 2px 2px inset var(--verde-azulado-claro);
}

main.editar-producto div.descripcion-producto-editar div.texarea-descripcion-mayor textarea::placeholder{
  font-size: var(--letra-pequeña);
  color: var(--verde-azulado-claro);
}

/*DESCRIPCIÓN DESTACADA DEL PRODUCTO*/


main.editar-producto div.descripcion-producto-editar div.textarea-descripcion-destacada textarea{
  border-radius: 10px;
  border: 1.5px solid var(--gris-claro);
}

main.editar-producto div.descripcion-producto-editar div.textarea-descripcion-destacada textarea:focus{
  outline: none;
  border: none;
  box-shadow: 0 0 2px 2px inset var(--verde-azulado-claro);
}

main.editar-producto div.descripcion-producto-editar div.textarea-descripcion-destacada textarea::placeholder{
  font-size: var(--letra-mas-pequeña);
  color: var(--verde-azulado-claro);
}

/*CONTENEDOR TALLES Y OTROS ELEMENTOS QUE ESTÁN DENTRO DE ÉL*/
main.editar-producto div.talles-producto-edit {
position: relative;
}

main.editar-producto div.talles-producto-edit h3.titulo-talles{
  font-size: var(--letra-grande);
  line-height: 1;
  color: var(--verde-azulado-claro);
  margin-bottom: 0; 
}

main.editar-producto div.talles-producto-edit div.contenedor-talle{
  position: relative
}

main.editar-producto div.talles-producto-edit input.custom-checkbox {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background-color: var(--gris-claro);
  transition: all 0.5s;
}

main.editar-producto div.talles-producto-edit div.contenedor-talle i.fa-check{
 position: absolute;
 font-size: 1.5rem;
 left:5px;
 top: 2px;
 color: var(--blanco);
 display: none;
}

main.editar-producto div.talles-producto-edit label{
  font-size: var(--letra-grande);
  color: var(--gris-claro)
}

main.editar-producto div.talles-producto-edit input.custom-checkbox:checked{
  background-color: var(--verde-azulado);
}

main.editar-producto div.talles-producto-edit input.custom-checkbox:checked + i.fa-check {
  display: block;
}

/*COLORES*/


main.editar-producto div.colores-producto-editar h3.titulo-colores{
  font-size: var(--letra-grande);
  line-height: 1;
  color: var(--verde-azulado-claro);
  margin-bottom: 0;
}


/*SETEOS GRALES*/
main.editar-producto div.colores-producto-editar div.checkbox-color input.input-color{
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background-color: var(--gris-claro);
  transition: all 0.5s;
} 


main.editar-producto div.colores-producto-editar div.checkbox-color label.label-color{
  font-size: var(--letra-mediana);
  color: var(--gris-claro)
}

/*COLOR POR COLOR EN EL CHECKED*/
main.editar-producto div.colores-producto-editar div.checkbox-color input.black:checked{
  background-color: black;
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.beige:checked{
  background-color: beige;
  border: 0.5px solid var(--gris85);
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.blue:checked{
  background-color: blue;
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.white:checked{
  background-color: white;
  border: 0.5px solid var(--gris85);
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.red:checked{
  background-color: red;
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.green:checked{
  background-color: green;
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.purple:checked{
  background-color: purple;
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.orange:checked{
  background-color: orange;
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.lightblue:checked{
  background-color: lightblue;
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.gray:checked{
  background-color: gray;
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.lavender:checked{
  background-color: lavender;
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.pink:checked{
  background-color: pink;
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.silver:checked{
  background-color: silver;
  border: 0.5px solid var(--gris85);
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.bluishGreen:checked{
  background-color: var(--verde-azulado);
}

main.editar-producto div.colores-producto-editar div.checkbox-color input.gold:checked{
  background-color: gold;
}

/*NUEVO - OFERTA */

main.editar-producto div.nuevo-oferta div.nuevo input{
  display: none;
} 

main.editar-producto div.nuevo-oferta div.oferta input{
  display: none;
} 

main.editar-producto div.nuevo-oferta div.nuevo div.nuevo-oferta-contenedor {
  width: 80px;
  height: 80px;
  background-color: var(--gris-claro);
  transition: all 0.5s ease;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  border-radius: 50%;
}

main.editar-producto div.nuevo-oferta div.nuevo input:checked + div.nuevo-oferta-contenedor{
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(249,155,125,1) 100%);
  color: var(--blanco);

}

main.editar-producto div.nuevo-oferta div.oferta div.nuevo-oferta-contenedor {
  width: 80px;
  height: 80px;
  background-color: var(--gris-claro);
  transition: all 0.5s ease;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  border-radius: 50%;
}


main.editar-producto div.nuevo-oferta div.oferta input:checked + div.nuevo-oferta-contenedor{
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(249,155,125,1) 100%);
  color: var(--blanco);

}


/*SWITCH*/

main.editar-producto .contenedor-switch input.input-switch-disponible {
  display: none;
}
main.editar-producto .contenedor-switch.contenedor-switch label {
  color: var(--verde-azulado-claro);
  position: relative;
}
main.editar-producto .contenedor-switch input.input-switch-disponible + label::before {
  content: " ";
  display: block;
  height: 18px;
  width: 45px;
  border: 1px solid var(--gris-claro);
  border-radius: 9px;
  position: absolute;
  top: 0px;
  left: -65px;
  background: var(--gris-claro);
}

main.editar-producto .contenedor-switch input.input-switch-disponible:checked + label::before{
  background-color: var(--verde-azulado-claro);
  border: 1px solid var(--verde-azulado-claro);
}

main.editar-producto .contenedor-switch input.input-switch-disponible + label::after {
  content: " ";
  display: block;
  height: 30px;
  width: 30px;
  border: 1px solid var(--gris85);
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: -75px;
  background: var(--gris85);
  transition: all 0.3s ease-in;
}


main.editar-producto .contenedor-switch input.input-switch-disponible:checked + label::after {
  left: -40px;
  transition: all 0.3s ease-in;
  background: var(--gris-claro);
  border: 1px solid var(--gris-claro);
}


/*ESTILOS SUBIR IMAGEN*/

/*TITULAR SUBIR IMAGEN*/
main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen h3 {
  font-size: var(--letra-grande);
  line-height: 1;
  color: var(--verde-azulado-claro);
  margin-bottom: 0;
}

/*CONTENEDORES DE IMPUT SUBIR IMAGEN*/
main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto {
    display: block;
    margin: 0 auto;
    width: 90%;
  }


main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto div {
    margin: 0 0 0.5rem 0;
    color: var(--gris-claro);
    text-align: center;
}

main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto input.input-imagen-edit-producto {
    display: none;
}


main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto label.editar-producto {
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: var(--blanco);
    border-radius: 7px;
    border: 3px solid var(--gris85);
    transition: all 0.5s ease;
  }


  main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto label.editar-producto:hover {
    border-color: var(--molocoton-oscuro);
  }


  main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto .btn {
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    font-weight: 500;
    font-size: var(--letra-mediana);
    text-decoration: none;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: var(--blanco);
    transition: all 1s ease-in-out;
    background: var(--verde-azulado-claro);
 
  }

  main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto .btn:hover {
    background-color: var(--gris85);
    color: var(--gris-pizarra);
  }


  main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto div.icono-archivo-imagen-editar i.fa-download {
    display: block;
    width: 100%;
    font-size: 50px;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    transition: all 0.2s ease-in-out;
  }


  main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto div.icono-archivo-imagen-editar i.fa-download:hover {
    transform: scale(0.8);
    opacity: 0.3;
  }


  main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto label.editar-producto:hover {
    border: 3px solid var(--molocoton-oscuro);
    box-shadow: inset 0 0 5px 6px rgba(249, 155, 128, 0.4);
  }


  main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto span.mensaje-para-usuario-imagen-edit {
    display: block;
    font-size: var(--letra-mas-pequeña);
    color: var(--molocoton-oscuro);
  }

 /*BOTÓN DE ENVIAR FORMULARIO*/

  main.editar-producto div.boton-enviar-formulario-editar .button-submit-editar{
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 0.5rem;
    width: 200px;
    height: 45px;
    line-height: 36px;
    transition: all 0.5s ease-in-out;
    background:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(249,155,125,1) 100%);
  }

  main.editar-producto div.boton-enviar-formulario-editar .button-submit-editar:hover {
    background: rgba(249, 155, 128, 0.4);

  }


  main.editar-producto div.boton-enviar-formulario-editar a.btn-custom-edit-producto {
    font-weight: 600;
    font-size: var(--letra-mediana);
    text-decoration: none;
    color: var(--blanco);
   
  }


  main.editar-producto div.boton-enviar-formulario-editar a.btn-custom-edit-producto:hover {
    color: var(--gris-pizarra);
    font-weight: 300;
    transition: all 0.5s ease-in-out;
  }
  


/*--------------------------------------------------------------------------*/
/*------------------------MEDUA QUERY TABLER-------------------------------*/

@media (min-width: 768px) {

    main.editar-producto div.vista-producto-editar-contenedor{
      
width: 65%;
      
margin-left: 255px;
    }

    main.editar-producto div.vista-producto-editar-contenedor div.contenedor-titulo-boton-editar{
        width: 85%;
    }

    main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto {

width: 70%;

}

}

/*-----------------------MEDIA QUERY DESKTOP---------------------------*/


@media (min-width: 1024px) {
    
    main.editar-producto div.vista-producto-editar-contenedor{
    width: 70%;
    }
    
    main.editar-producto div.vista-producto-editar-contenedor div.contenedor-titulo-boton-editar{
        width: 70%;
    }
    
    main.editar-producto div.vista-producto-editar-contenedor  a.btn-custom-producto{
        font-size: var(--letra-grande);
        width: 180px;
        height: 50px;
    }
    
    main.editar-producto div.vista-producto-editar-contenedor div.contenedor-titulo-boton-editar h1.text-custom-producto{
        font-size: var(--letra-titular-menor);
    }
        
    
    main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen div.contenedor-input-label-producto {
        width: 50%;
        max-width: 400px;
    }

    /*CONTENEDOR DE SELECCIONAR CATEGORIA Y SUS ELEMENTOS*/

    main.editar-producto div.seleccionar-categoria div.contenedor-seleccionar-categoria{
      position: relative;
    }

    main.editar-producto div.seleccionar-categoria select.categoria-producto {
      width:96%;
      height: 50px;
    }


    /*INPUTS NOMBRE Y PRECIO + LABEL*/
    main.editar-producto div.vista-producto-editar-contenedor div.card div.container div div.nombre-producto-edit input.nombre-producto {
      height: 50px;

    } 

    main.editar-producto div.vista-producto-editar-contenedor div.card div.container div div.nombre-producto-edit label.nombre-producto {
      font-size: var(--letra-grande);
    }

    main.editar-producto div.vista-producto-editar-contenedor div.card div.container div div.precio-producto-edit input.precio-producto {
      height: 50px;
    }

    main.editar-producto div.vista-producto-editar-contenedor div.card div.container div div.precio-producto-edit label.precio-producto {
      font-size: var(--letra-grande);
    }

    /*DESCRIPCIÓN PRODUCTO*/
    main.editar-producto div.descripcion-producto-editar div.texarea-descripcion-mayor textarea::placeholder{
      font-size: var(--letra-grande);
    }    


    /*DESCRIPCIÓN DESTACADA*/

    main.editar-producto div.descripcion-producto-editar div.textarea-descripcion-destacada textarea{
      height: 100px;
    }

    main.editar-producto div.descripcion-producto-editar div.textarea-descripcion-destacada textarea::placeholder{
      font-size: var(--letra-mediana);
    }

    /*TALLES*/
  main.editar-producto div.talles-producto-edit h3.titulo-talles{
    font-size: var(--letra-mas-grande);
  }

  /*COLORES*/
  main.editar-producto div.colores-producto-editar h3.titulo-colores{
    font-size: var(--letra-mas-grande);
  }

  /*TITULO DE IMAGEN*/
  main.editar-producto div.vista-producto-editar-contenedor div.card div.subir-imagen h3 {
    font-size: var(--letra-mas-grande);
  }
} 