main.editar-producto {
    font-family: var(--fuente-general);
    margin-left: 20px;
}

main.editar-producto div.vista-editar-producto div.contenedor-titulo-boton-editar{
    width: 100%;
}

main.editar-producto div.vista-editar-producto  a.btn-custom-editar-producto{
    font-size: var(--letra-mediana);
    background-color: var(--verde-azulado-claro);
    color: var(--blanco);
    border: none;
    width: 150px;
    height: 35px;
    transition: all 1s ease-in-out;
}

main.editar-producto div.vista-editar-producto  a.btn-custom-editar-producto:hover{
   background-color: var(--gris85);
   color: var(--verde-azulado-claro)
}

main.editar-producto div.vista-editar-producto .form-floating{
    margin-top: 20px;
}
main.editar-producto div.vista-editar-producto .form-control {
    background-color: var(--gris-claro);
    color: var(--gris-pizarra);
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    line-height: 1.4;
}
main.editar-producto div.vista-editar-producto .form-control:hover{
    cursor: pointer;
}

main.editar-producto div.vista-editar-producto .form-control:focus{
    cursor: text;
    color: var(--gris-pizarra);
    background-color: var(--blanco);
    border-color:var(--gris-pizarra);
}
main.editar-producto div.vista-editar-producto .form-select {
    background-color: var(--gris-claro);
    color: var(--gris-pizarra);
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    line-height: 1.4;
    margin-bottom: 10px;
}
main.editar-producto div.vista-editar-producto .form-select:hover{
    cursor: pointer;
}

main.editar-producto div.vista-editar-producto .form-select:focus{
    cursor: text;
    color: var(--gris-pizarra);
    background-color: var(--blanco);
    border-color:var(--gris-pizarra);
}
main.editar-producto div.vista-editar-producto textarea{
    background-color: var(--gris-claro);
    color: var(--gris-pizarra);
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    line-height: 1.4;
    transition: all 0.2s;
}

main.editar-producto div.vista-editar-producto textarea:hover{
    cursor: pointer;
}

main.editar-producto div.vista-editar-producto textarea:focus{
    cursor: text;
    color: var(--gris-pizarra);
    background-color: var(--blanco);
    border-color:var(--gris-pizarra);
}

main.editar-producto div.vista-editar-producto .form-check-input-talle {
    margin-right: 6px;
}

main.editar-producto div.vista-editar-producto .form-check-label-talle {
    color:var(--negro);
    text-shadow: 0 1px 4px rgba(0,0,0,.5);
}

main.editar-producto div.vista-editar-producto .form-check-input-talle:checked {
    accent-color: var(--turquesa);
}

main.editar-producto div.vista-editar-producto .form-check-input-talle:checked ~ label{
    color: var(--turquesa);
}
main.editar-producto div.vista-editar-producto .colors-check {
    display:flex;
    flex-wrap: wrap;
    padding: 15px;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-black input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-beige input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-blue input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-white input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-red input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-green input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-purple input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-orange input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-lightblue input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-gray input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-lavender input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-pink input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-silver input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-bluishGreen input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-gold input[type= "checkbox"] {
    display: none;
}
main.editar-producto div.vista-editar-producto .form-check-span-color {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    background: var(--gris-claro);
    padding: 15px 20px;
    color: var(--negro);
    text-shadow: 0 1px 4px rgba(0,0,0,.5);
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}
main.editar-producto div.vista-editar-producto .form-check-label-color-black:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: var(--negro);
    color: var(--blanco);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-beige:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: beige;
    color: var(--negro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-blue:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: blue;
    color: var(--turquesa);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-white:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: var(--blanco);
    color: var(--negro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-red:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: red;
    color: var(--gris-claro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-green:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: green;
    color: var(--gris-claro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-purple:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: violet;
    color: var(--gris-claro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-orange:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: orange;
    color: var(--gris-claro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-lightblue:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: lightblue;
    color: var(--gris-claro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-gray:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: var(--gris-claro);
    color: var(--negro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-lavender:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: #d29bfd;
    color: var(--gris-claro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-pink:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: #ff0080;
    color: var(--gris-claro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-silver:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: #8a9597;
    color: var(--negro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-bluishGreen:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: #084d6e;
    color: var(--gris-claro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}
main.editar-producto div.vista-editar-producto .form-check-label-color-gold:nth-child(6n + 1) input[type= "checkbox"]:checked ~ .form-check-span-color {
    background: gold;
    color: var(--gris-claro);
    box-shadow: 0px 2px 20px var(--verde-azulado-claro);
}

main.editar-producto .contenedor-switch input.input-switch-disponible {
    display: none;
  }
  main.editar-producto .contenedor-switch.contenedor-switch label {
    color: var(--verde-azulado-claro);
    position: relative;
  }
  main.editar-producto .contenedor-switch input.input-switch-disponible + label::before {
    content: " ";
    display: block;
    height: 18px;
    width: 45px;
    border: 1px solid var(--gris-claro);
    border-radius: 9px;
    position: absolute;
    top: 0px;
    left: -65px;
    background: var(--gris-claro);
  }
  
  main.editar-producto .contenedor-switch input.input-switch-disponible:checked + label::before{
    background-color: var(--verde-azulado-claro);
    border: 1px solid var(--verde-azulado-claro);
  }
  
  main.editar-producto .contenedor-switch input.input-switch-disponible + label::after {
    content: " ";
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid var(--gris85);
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -75px;
    background: var(--gris85);
    transition: all 0.3s ease-in;
  }
  
  
  main.editar-producto .contenedor-switch input.input-switch-disponible:checked + label::after {
    left: -40px;
    transition: all 0.3s ease-in;
    background: var(--molocoton-oscuro);
    border: 1px solid var(--molocoton-oscuro);
}
main.editar-producto div.boton-enviar-formulario-crear-editar .button-submit-crear-editar{
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 0.5rem;
    width: 200px;
    height: 45px;
    line-height: 36px;
    transition: all 0.5s ease-in-out;
    background:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(249,155,125,1) 100%);
  }

  main.editar-producto div.boton-enviar-formulario-crear-editar .button-submit-crear-editar:hover {
    background: rgba(249, 155, 128, 0.4);

  }


  main.editar-producto div.boton-enviar-formulario-crear-editar a.btn-custom-crear-edit-producto {
    font-weight: 600;
    font-size: var(--letra-mediana);
    text-decoration: none;
    color: var(--blanco);
   
  }


  main.editar-producto div.boton-enviar-formulario-crear-editar a.btn-custom-crear-edit-producto:hover {
    color: var(--gris-pizarra);
    font-weight: 300;
    transition: all 0.5s ease-in-out;
  }


  /*NUEVO OFERTA*/

  main.editar-producto div.nuevo-oferta div.nuevo input{
    display: none;
  } 
  
  main.editar-producto div.nuevo-oferta div.oferta input{
    display: none;
  } 
  
  main.editar-producto div.nuevo-oferta div.nuevo div.nuevo-oferta-contenedor {
    width: 80px;
    height: 80px;
    background-color: var(--gris-claro);
    transition: all 0.5s ease;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    border-radius: 50%;
  }
  
  main.editar-producto div.nuevo-oferta div.nuevo input:checked + div.nuevo-oferta-contenedor{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(249,155,125,1) 100%);
    color: var(--blanco);
  
  }
  
  main.editar-producto div.nuevo-oferta div.oferta div.nuevo-oferta-contenedor {
    width: 80px;
    height: 80px;
    background-color: var(--gris-claro);
    transition: all 0.5s ease;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    border-radius: 50%;
  }
  
  
  main.editar-producto div.nuevo-oferta div.oferta input:checked + div.nuevo-oferta-contenedor{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(249,155,125,1) 100%);
    color: var(--blanco);
  
  }

@media (min-width: 768px) {
    main.editar-producto {
        margin-left: 20px;
    }
}


@media (min-width: 1024px) {
    main.editar-producto {
        margin-left: 20px;
        
    }
    main.editar-producto div.card {
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
    }
    main.editar-producto div.vista-editar-producto .colors-check {
        display:flex;
        flex-wrap: wrap;
        padding: 15px;
    }
    
}