
/* vista movil */


  .footer {
    margin: auto;
    text-align: center;
    box-sizing: content-box;
    width: 100%;
    /* background: linear-gradient(var(--molocoton-oscuro), var(--verde-azulado-claro)); */
  }
  .footer .fa-truck {
    /* transform: scaleX(-0.7); */
  }
  .footer .SEGUINOS {
    font-size: 23px;
    padding-top: 24px;
  }
  .footer .emotes {
    font-size: 65px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-around;
    margin-top: 31px;
  }
  .footer .ENVIO {
    font-size: 25px;
    color: black;
  }
  .footer .dinero {
    margin-top: 0pc;
    font-size: 25px;
    margin-bottom: 0px;
  }
  .footer .Correo {
    color: gray;
    margin-top: auto;
    margin-bottom: 25px;
  }
  .footer .datos {
    background-color: #212121;
    color: white;
    padding-top: 5px;
    padding-bottom: 0px;
  }
  .footer .datos .NAVEGACIÓN {
    font-size: 22px;
    margin-top: revert;
  }
  footer .datos .Preguntas {
  }
  .footer .medios {
    margin-top: 45px;
  }
  .footer .img-1 {
    width: 218px;
    margin-bottom: 0px;
  }
  .footer .img-2 {
    width: 179px;
    margin: auto;
  }
  .footer .Contacto {
    margin-top: 40px;
  }
  .footer .gmail {
    font-size: 13px;
  }
  .footer .copy {
    font-size: 13px;
    text-align: left;
    padding: 1%;
    font-size: 80%;
  }
  .footer .cookies {
    font-size: 8px;
    color: grey;
    margin: 24px;
  }
  .footer .Botón {
    border: #000000;
    width: 36%;
    background-color: #d9d9d9;
    /* text-align: center; */
    margin: auto;
    padding: 5px;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
  }
  .footer-tablet{
    display:none ;
  }
  

/* vista tablet */
@media (min-width: 768px)  {
  .footer {
  }
  .footer .footer-movil {
    display: none;
  }

  .footer .footer-tablet {
    display: flex;
    background-color: #212121;
    /* border: #f99b7d solid; */
    flex-wrap: wrap;
    /* font-size: 15px; */
    padding-bottom: 2%;
    margin-top: 20px;
    /* background: linear-gradient(var(--molocoton-oscuro), var(--verde-azulado-claro)); */
    justify-content: space-evenly;
  }

  
  .footer .footer-tablet .columna-1 {
    border: 34px;
    /* width: 21%; */
  }
  .footer .footer-tablet .texto-especial {
    font-size: 12px;
    margin-top: revert-layer;
    text-align: start;
    color: #000000;
    color: white;
    text-align: center;
    margin-bottom: 1px;
    font-weight: 100;
  }
  .footer .footer-tablet .columna-1 .texto {
    order: -10;
    margin-left: 22px;
    text-align: justify;
    color: #000000;
    margin-bottom: 0;
    color: white;
    font-size: 12px;
    margin-left: 0;
  }
  .footer .footer-tablet .columna-1 .texto a{
    color: #000000;
    color: white;
  }
  .footer .footer-tablet .columna-2 {
    /* width: 20%; */
  }
  .footer .footer-tablet .columna-2 .texto {
  text-align: justify;
  color: #000000;
  color: white;
  margin-bottom: 0;
  font-size: 12px;
  }
  .footer .footer-tablet .columna-2 .texto a{
    color: #000000;
    }


  .footer .footer-tablet .columna-4 {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 32%; */
  }
  .footer .footer-tablet .columna-4 .texto {
    /* padding-left: 22px; */
  }
  .footer .footer-tablet .columna-4 img {
    width: 140px;
  }

  .footer .footer-tablet .columna-3 {
    /* width: 21%; */
  }
  .footer .footer-tablet .columna-3  {
    display: flex;
    font-size: 27px;
    flex-direction: column;
  }
  .footer .footer-tablet .columna-3 .columna-3-mini a{
  color: white;
  }

}
/* vista PC */
@media (min-width: 1024px) {
  .footer {
  }
  .footer .footer-movil {
    display: none;
  }
  
  .footer .img-3 {
    width: 0;
  }
  .footer .footer-tablet {
    /* display: flex; */
    /* background-color: #ffefd6; */
    /* border: #f99b7d solid; */
    /* flex-wrap: wrap; */
    font-size: 15px;
    padding-bottom: 1%;
    /* margin-top: 220px; */
    justify-content: space-evenly;
  }
  .footer .footer-tablet .texto-especial {
    font-size: 20px;
    /* margin-top: revert; */
    /* text-align: justify; */
  }
  .footer .footer-tablet .columna-1 {
    /* border: 34px; */
    /* width: 28%; */
  }
  
  .footer .footer-tablet .columna-1 .texto {
    order: -10;
    /* margin-left: 22px; */
    font-size: 20px;
    /* text-align: justify; */
  }
  .footer .footer-tablet .columna-1 .texto-especial {
    font-size: 20px;
  }
  .footer .footer-tablet .columna-2 {
    /* width: 23%; */
  }
  .footer .footer-tablet .columna-2 .texto {
  /* font-size: 20px; */
  /* text-align: justify; */
  }
 

  .footer .footer-tablet .columna-4 {
    /* width: 100%; */
    margin-right: 0%;
  }
  .footer .footer-tablet .columna-4 .texto {
    /* padding-left: 22px; */
  }
  .footer .footer-tablet .columna-4 img {
    width: 200px;
  }

  .footer .footer-tablet .columna-3 {
    /* width: 21%; */
    /* margin-right: 25px; */
  }
  .footer .footer-tablet .columna-3  {
    display: flex;
    font-size: 232%;
    justify-content: flex-start;
    flex-direction: column;
  }
  .footer .footer-tablet .columna-3 .texto {
  }

  .card-footer{
    width: 17%;
    font-size: 32px;
    margin-left: 2%;
  }

}