/* Home */

/* Carrusel */
.home .carrusel {
  display: none;
}
/* Seccion informacion de envio */
.home .contenedor-info-envio {
  display: none;
}

/* Seccion de imagenes */
.home .contenedor-subtitulos-imagenes {
  display: flex;
}
.home .contenedor-subtitulos-imagenes .subitutlos-de-imagenes {
  display: none;
}

.home .contenedor-imagenes {
  /* display: flex; */
  gap: 10px;
  flex-wrap: wrap;
}

.container-home {
  display: grid;
  place-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-container-home {
  display: grid;
  row-gap: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.card-article-home {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px); 
}

.card-img-home {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-data-home {
  width: 80%;
  background: linear-gradient(var(--blanco-almendra), var(--molocoton-oscuro));
  padding: 5% 10%;
  border-radius: 1rem;
  position: absolute;
  bottom: -18rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s; 
}

.card-title-home {
  color:black;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px;
  font-size: 70%;
  margin: 10px 0;
}

.card-description-home {
  display: block;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px;
  font-size: 50%;
  margin-bottom: .40rem;
}
.card-price-home {
  border-radius: 5px;
  font-weight: bold;
  padding: 2px;
  display: block;
  font-size: 80%;
  color: var(--negro);
  margin-bottom: .20rem;
}
.card-button-home {  
  background-color: var(--transparente);
  border: 1px solid var(--verde-azulado);
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  font-size: 60%;
  color: var(--negro);
  text-decoration: none;
}

.card-button-home:hover{
  text-decoration: underline;
  color: var(--verde-azulado);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
  transform: scale(1.1) translateY(-3px); /* Aumenta ligeramente el tamaño y lo desplaza hacia arriba */
  opacity: 0.9;
}

.card-article-home:hover .card-data-home {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s
}

.card-article-home:not(:hover) .card-data-home{
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50%{
    transform: translateY(-20rem);
  }
  100%{
    transform: translateY(-19rem);
  }
}

@keyframes remove-data {
    0%{
      transform: translateY(-19rem);
    }
    50%{
      transform: translateY(-20rem);
    }
    100%{
      transform: translateY(.5rem)
    }
}
  /* CAPSULAS*/
  .home .titulo-capsula {
    display: none;
  }
  .home .capsulas {
    display: none;
  }
  .home .contenedor-cap {

  }
  .home .foto-capsula {
    
width: calc(50% - 3px);
  }

/* BEIGE CAP*/

.home .foto-capsula-beige {width: calc(50% - 5px);}

/* AMERICAN DREAM CAP */

.home .foto-capsula-american-dream {width: calc(50% - 5px);display: inline;}

/* 3024 */

.home .foto-capsula-3024 {display: inline;width: 60%;}
/* -- */
.home .mostrar-mas-productos {
  font-size: 115%;
  padding: 6%;
  color: var(--blanco);
  background: var(--verde-azulado);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px var(--gris-terciopelo);
  margin: 15% 3%;
}
/* Seccion mensaje de la marca pequeño */
.home .mensaje-de-la-marca-pequenio {
  width: 100%;
}
/* Seccion mensaje de la marca grande */
.home .mensaje-de-la-marca-grande {
  display: none;
}

  /* extras */
  .home img.logo-whatsapp {
    display: none;
  }

  .home img.logo-flecha {
    display: none;
  }
/* ------------------- General -------------------*/
.home .foto {width: calc(50% - 3px);}

/* -----------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------ MEDIA DE TABLET ------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
  /* Home */

  /* Carrusel */

  .home .boton-carousel-personalizado {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid var(--negro);
  }
  .home .flecha-carousel {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
    background-color: var(--negro);
  }

  .home .carrusel {
    display: inline;
  }
  /* Seccion informacion de envio */
  .home .contenedor-info-envio {
    display: flex;
    justify-content: space-around;
    margin: 10% 0%;
    border-top: 2px solid var(--molocoton-oscuro);
    border-bottom: 2px solid var(--molocoton-oscuro);
    padding: 4% 0%;
  }

  /* Seccion de imagenes */
  .home .contenedor-subtitulos-imagenes {
    display: none;
  }
  .home .contenedor-subtitulos-imagenes .subitutlos-de-imagenes {
    display: block;
  }
  .home .contenedor-imagenes-sector-2{
    display: none;  
  }
  .home .contenedor-imagenes-sector-3{
    display: none;
  }

  .card-article-home {
    flex: 1 1 calc(33.333% - 10px); /* Para tabletas, 3 tarjetas por fila */
    max-width: calc(33.333% - 20px); /* Ajuste del ancho máximo */
  }

  .card-title-home {
    font-size: 80%;
  }
  
  .card-description-home {
    font-size: 50%;
  }
  .card-price-home {
    font-size: 80%;
  }
  .card-button-home {
    font-size: 60%;
  }

  /* CAPSULAS*/
  .home .titulo-capsula {
    display: flex;
    margin: 50px auto;
  }
  .home .capsulas {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .home .contenedor-cap-sector-1{
  }
  
  .home .contenedor-cap-sector-2{

display: flex;

justify-content: center;
}



  /* -- */
  .home .mostrar-mas-productos {
    display: none;
  }

  /* Seccion mensaje de la marca pequeño */
  .home .mensaje-de-la-marca-pequenio {
    display: none;
  }
  /* Seccion mensaje de la marca grande */
  .home .mensaje-de-la-marca-grande {
    display: none;
  }

  /* extras */
  .home img.logo-whatsapp {
    display: inline;
    width: 4.5%;
    position: fixed;
    right: 32px;
    bottom: 25px;
  }

  .home img.logo-flecha {
    display: inline;
    width: 3.5%;
    position: fixed;
    left: 32px;
    bottom: 25px;
    transition: transform 0.3s ease-in-out;
  }
  
  .home img.logo-flecha:hover {
    transform: scale(1.3);
  }
  
  .home img.logo-flecha:active {
    transform: scale(1.2);
  }

  /* ------------------- General -------------------*/

  h2 {
    font-size: var(--letra-mediana);
  }

  p {
    font-size: var(--letra-pequeña);
  }

  .home .foto {
    border-radius: 5px;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------ MEDIA DE ESCRITORIO ------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 1024px) {
  /* Home */

  /* Carrusel */

  /* Seccion informacion de envio */


  /* Seccion de imagenes */

  .home .contenedor-imagenes {
    width: 100%;
  }
  .home .contenedor-imagenes-sector-2{
    display: block;  
  }

  .card-article-home {
    flex: 1 1 calc(25% - 10px); /* Para PC, 4 tarjetas por fila */
    max-width: calc(25% - 20px); /* Ajuste del ancho máximo */
  }

  .card-title-home {
    font-size: 120%;
  }
  
  .card-description-home {
    font-size: 70%;
  }
  .card-price-home {
    font-size: 120%;
  }
  .card-button-home {
    font-size: 80%;
  }
  /* CAPSULAS*/

  .home .capsulas {
    display: flex;
    flex-direction: row;
  }

  .home .foto-capsula-3024 {
    display: inline;
    width: 100%;
  }

  .home .contenedor-cap-sector-1{

width: calc(66% - 1px);

display: inline;

}
  .home .contenedor-cap-sector-2{display: inline;width: calc(33%);}


  /* -- */

  /* Seccion mensaje de la marca pequeño */

  /* Seccion mensaje de la marca grande */
  .home .mensaje-de-la-marca-grande {
    display: block;

    width: 100%;

    margin: 10% 0%;
  }

  /* extras */

  /* ------------------- General -------------------*/

  .home .foto {
  width: calc(25% - 4px);
  }
}
