/* titulo h1 */

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.body-admin-list-products .titulo {
  background: linear-gradient(to right, var(--turquesa), var(--verde-azulado-claro));
  background-size: 200% 200%;
  background-clip: text;
  color: transparent;
  text-align: center;
  user-select: none;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  animation: gradient-shift 3s ease infinite;
  margin: 30px 0px 0px 0px;
}


/* boton crear producto */
.body-admin-list-products .crear-producto-btn {
  background-color: var(--verde-azulado);
  border: none;
  margin: 37px 0px;
  border-radius: 5px;
  padding: 4px 7px;
  color: white;
  font-size: var(--letra-pequeña);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* animación */
.body-admin-list-products .crear-producto-btn:hover {
  background-color: #3a8889;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  border: 1px solid #ffffff66;
}


/* imagen */
.body-admin-list-products .img-product {
    width: 100px;
    height: 100px;
    object-fit: contain;
}


/* contenedor tabla */
.body-admin-list-products .contenedor-tabla {
  
width: 100%;
  
overflow: scroll;
  
box-shadow: 2px 2px 8px 2px rgba(249, 155, 128, 0.4);
}
/* tabla */
.body-admin-list-products .table-list-products {
  max-width: 100%;
}

/* botones acciones */
.body-admin-list-products .btn-group{
  margin-left: 50px;
}
.body-admin-list-products .acc-btn {
  font-weight: bold;
  color: white;
  border: none;
}
.body-admin-list-products .info {
  background-color: #007BFF;
  box-shadow: 0 4px 8px 0 rgba(0, 123, 255, 0.2);
}
.body-admin-list-products .editar {
  background-color: #28A745;
  box-shadow: 0 4px 8px 0 rgba(40, 167, 69, 0.2);
}
.body-admin-list-products .eliminar{
  background-color: #DC3545;
  box-shadow: 0 4px 8px 0 rgba(220, 53, 69, 0.2);
}
/*  botones acciones:hover */
.body-admin-list-products .acc-btn:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.body-admin-list-products .info:hover {
  background-color: #0056b3; 
  box-shadow: 0 6px 12px 0 rgba(0, 123, 255, 0.4);
}
.body-admin-list-products .editar:hover {
  background-color: #218838; 
  box-shadow: 0 6px 12px 0 rgba(40, 167, 69, 0.4);
}
.body-admin-list-products .eliminar:hover {
  background-color: #c82333; 
  box-shadow: 0 6px 12px 0 rgba(220, 53, 69, 0.4);
}


/* -----------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------ MEDIA DE TABLET ------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {

.body-admin-list-products .dashboard-admin-content {
  margin: 0px 80px;
}

.body-admin-list-products .contenedor-tabla {
  margin:auto;
  max-width: 75%;
}

/* contenedor tabla */
.body-admin-list-products .contenedor-tabla {
}
}





/* ---------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------ MEDIA DE ESCRITORIO ------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 1024px) {

}