/* Main */
* {
    font-family: var(--fuente-general);
}

.login {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #f9f2e8; /* Color de fondo */
    padding: 10px;
}

.login .contenedor-main {
    display: flex;
    margin: 30px auto;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: white;
}

.login .titulo {
    font-size: var(--letra-grande);
    margin: 35px 0;
    font-weight: bold;
}

/* Input con errores */
.login .input-invalid {
    border: 1px solid var(--molocoton-oscuro);
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: var(--letra-media);
    width: calc(100% - 24px);
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

/* Inputs válidos */
.login .white-bar {
    border: 1px solid var(--verde-azulado-claro);
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: var(--letra-media);
    width: calc(100% - 24px);
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

.login .div-login-email{
   /* text-align: center;*/
}

.login .input-login {
    font-size: var(--letra-pequeña);
  border: 1px solid var(--verde-azulado-claro);
  border-radius: 8px;
  padding: 12px;
  margin: 10px 0;
  width: 80%; 
  max-width: 280px; 
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
   
}

/* Mensajes de error */
.text-danger {
    color: red;
}

.login .boton-login {
    width: 200px;
    height: 35px;
    border: none;
    background-color: var(--verde-azulado-claro);
    color: var(--blanco);
    border-radius: 5px;
    font-size: var(--letra-mediana);
    letter-spacing: 1px;
    margin: 30px 0;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; 
}

.login .boton-login:hover {
    background-color:  #2c7a73; 
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.login .contenedor-opciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

/* Títulos */
.login form h3.titulo-login-inputs {
    font-size: 1.5em;
    margin: 20px 0;
    background: linear-gradient(var(--verde-azulado-claro), var(--molocoton-oscuro));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.login .subtitulo {
    font-size: var(--letra-pequeña);
    color: var(--verde-azulado);
    padding: 1px;
}


.login div.contenedor-opciones a.registrateLogin {
    color: var(--verde-azulado);

}

.login .recuerdame {
    font-size: var(--letra-pequeña);
    margin: 10px 0px;
    color: var(--gris-pizarra)
}

/* Iconos de redes */
.login .contenedor-redes i {
    font-size: 50px !important;
    color: var(--color-facebook);
    transition: color 0.3s, transform 0.3s;
}

.login .contenedor-redes i:hover {
    transform: scale(1.1);
}

/* -------------MEDIA QUERY 768------------------- */

@media (min-width: 768px) {

    .login {
        background: white;
    }

    .login .contenedor-main {
        width: 80%;
        padding: 30px;
    }
    .login .input-login {
      
        width: 90%;
        max-width: 300px
    }

    .login .titulo-login-inputs {
        font-size: 2rem;
    }
}

/*-------------MEDIA QUERY 1024-----------------*/

@media (min-width: 1024px) {
    .login .contenedor-main {
        width: 90%;
        max-width: 600px;
        margin: 50px auto;
        padding: 30px;
    }

    .login .input-login {
        padding: 15px;
        font-size: var(--letra-media);
        /*background: #fff;*/
        width: 80%;
        max-width: 360px
    }

    .login .titulo-login-inputs {
        font-size: 2.5rem;
    }
}