* {
  margin-top: 0;
}

.body {
  /* margin-top: 0 ; */
}
.main {
}

.main .encabezado {
  text-align: center;
  background-color: black;
  color: white;
  /* margin-top: 0px; */
}

.main .main-vista-movil {
}

.main .logo {
}

.main .logo .img-main {
}

.main .redirecciones {
  display: flex;
  flex-direction: column;
  background-color: #ffefd6;
  /* border-top: solid red; */
  /* border-bottom: solid; */
}

.main .redirecciones .barra-productos {
}

.main .redirecciones .seleccionar-destino {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.main .redirecciones .seleccionar-destino .home {
}
.main .redirecciones .seleccionar-destino .productos {
}
.main .redirecciones .seleccionar-destino .carrito {
}

@media (min-width: 369px) {
  .main {
  }

  .main .encabezado {
    margin-bottom: 0;
    font-size: 14px;
    padding: 4px;
  }
  .main .descuento {
    margin-bottom: 0;
}
  .main .encabezado .envio {
    display: none;
  }
  .main .main-vista-movil {
  }
  .main .logo {
    background-color: #00bca3;
    margin-bottom: 0;
    color: white;
    text-align: center;
    padding-bottom: 20px;
  }
  .main .logo .img-main {
  }
  .main .logo .zinke {
    font-size: 60px;
  }
  .main .logo .lema {
    margin-bottom: 0;
  }

  .main .redirecciones {
    border-top: solid #f99b7d 2px;
    border-bottom: solid #f99b7d 2px;
    margin-top: 0;
  }

  .main .redirecciones .barra-productos {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 2%;
    font-size: 25px;
  }

  .main .redirecciones .seleccionar-destino {
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    font-size: 21px;
  }

  .main .redirecciones .seleccionar-destino .home {
  }
  .main .redirecciones .seleccionar-destino .productos {
  }
  .main .redirecciones .seleccionar-destino .carrito {
  }
  .main-vista-tablet-pc {
    display: none;
  }
}

@media (min-width: 769px) {
  .main {
  }

  .main .encabezado {
  display: flex;
  margin: 0;
  justify-content: center;
  }
  .main .descuento {}
  .main .encabezado .envio {
  display: inline-block;
  margin: 0;
  }
  .main .main-vista-movil {
  display: none;
  }
  .main .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 12px #d6f9f3;
  padding-bottom: 0;
  padding: 25px;
  }
  .main .logo .img-main {
  }
  .main .logo .zinke {
  }
  .main .logo .lema {
  }

  .main .redirecciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

  .main .redirecciones .barra-productos {
  }

  .main .redirecciones .seleccionar-destino {
  }

  .main .redirecciones .seleccionar-destino .home {
  }
  .main .redirecciones .seleccionar-destino .productos {
  }
  .main .redirecciones .seleccionar-destino .carrito {
  }
  .main-vista-tablet-pc {
    display:contents
  }
  .main-vista-tablet-pc  .Zinke{
    margin: 0;
    font-size: 39px;
}
.main-vista-tablet-pc .barrra-busqueda {
    margin: 0;
    background-color: white;
    color: #b2b2b2;
    padding: 4px 10px 4px 7px;
    border-radius: 33px;
    border: solid 1px black;
}
  .main-vista-tablet-pc  .texto-main {
    color: black;
    margin: 0;
  }
}
