/* Estilos Generales */
main.perfil-usuario {
  font-style: var(--fuente-general);
  background: #f9f2e8; /* Color de fondo */
  padding: 10px;
}

main.perfil-usuario section.section-inputs-registro {
  padding: 20px;
  margin: 15px auto;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  background: white;
}

main.perfil-usuario section.section-inputs-registro h3.titulo-registro-inputs {
  font-size: 1.2em; 
  margin: 20px 0;
  text-align: center;
  background: linear-gradient(var(--verde-azulado-claro), var(--molocoton-oscuro));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Contenedores de Inputs */
div.nombreApellidoRegister,
div.nombreDelaCuentaRegister,
div.emailregistro {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 20px 0;
}

/* Estilos de Inputs */
main.perfil-usuario input {
  font-size: var(--letra-pequeña);
  border: 1px solid var(--verde-azulado-claro);
  border-radius: 8px;
  padding: 12px;
  margin: 10px 0;
  width: calc(100% - 24px);
  transition: border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

main.perfil-usuario input:focus {
  outline: none;
  border: 2px solid var(--molocoton-oscuro);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contenedor-boton-register {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  margin-top: 20px; /* Espacio superior opcional */
}



/* Estilos de Botones */
button.boton-register {
   /* Espacio horizontal entre los botones */
  width: 200px;
  height: 35px;
  border: none;
  background-color: var(--verde-azulado-claro);
  color: var(--blanco);
  border-radius: 5px;
  font-size: var(--letra-mediana);
  letter-spacing: 1px;
  margin: 30px 10px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; 
}

button.boton-register:hover {
  background-color: #369a8a; /* Color más oscuro al pasar el ratón */
  color: var(--blanco);
  transform: scale(1.05);
}

button.boton-register:focus {
  outline: none; 
}

button.boton-register:disabled {
  opacity: 0.7; 
  cursor: not-allowed; 
}

/* Estilos para Errores */
span.error-name,
span.error-username,
span.error-email {
  color: red;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Media Queries */
@media (min-width: 768px) {
  main.perfil-usuario {
    padding: 10px;
    background-color: white;
  }

  main.perfil-usuario section.section-inputs-registro {
    width: 80%;
    padding: 30px;
    margin: 40px auto;
  }

  main.perfil-usuario section.section-inputs-registro h3.titulo-registro-inputs {
    font-size: 1.5em;
  }

  main.perfil-usuario input {
    padding: 15px;
    font-size: var(--letra-media);
  }

  button.boton-register {
    height: 50px;
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  main.perfil-usuario section.section-inputs-registro {
    width: 90%;
    max-width: 600px;
    padding: 30px;
    margin: 50px auto;
  }

  main.perfil-usuario section.section-inputs-registro h3.titulo-registro-inputs {
    font-size: 1.4rem;
  }

  main.perfil-usuario input {
    padding: 15px;
    font-size: var(--letra-media);
    width: 70%;
  }

  button.boton-register {
    height: 50px;
    font-size: 1.3em;
   
  }


 
  }
