<!DOCTYPE html>
<html lang="es">


  <%- include("../partials/head", {view : "contactUS"}) %>
  
<body class="body-contact-us">
  <%- include("../partials/header", {contactUs : "black", registro: true,ingreso: true }) %>
  

  <main class="contact-us">

    <p>CONTACTANOS WACHO</p>

  </main>

  <%- include("../partials/footer") %>
  
    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

</body>

</html>