<!-- Navegador -->

<div class="dashboard">
<nav class="main-menu">



    <div>
      <a class="logo" href=""><!--<img src="/images/imagen-header.png" alt="">--></a>
    </div>
    <div class="settings"></div>
    <div class="scrollbar" id="style-1">

      <ul>

        <li>
          <a href="/">
            <i class="fa fa-home fa-lg"></i>
            <span class="nav-text">Home</span>
          </a>
        </li>

        <li>
          <a href="/ingreso">
            <i class="fa fa-user fa-lg"></i>
            <span class="nav-text">Login</span>
          </a>
        </li>



        <div class="addthis_default_style addthis_32x32_style">

          <div style="position:absolute;
margin-left: 56px;top:3px;">





          </div>
          <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
          <script type="text/javascript"
            src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ff17589278d8b3a"></script>






          </span>
          <span class="nav-text">
          </span>

          </a>

          </li>




          </li>

          <li class="darkerlishadow">
            <a href="/admin/productos">
              <i class="fa fa-solid fa-cart-shopping"></i>
              <span class="nav-text">Productos</span>
            </a>
          </li>

          <li class="darkerli">
            <a href="/admin/crear-productos">
              <i class="fa fa-solid fa-plus"></i>
              <span class="nav-text">Cargar Producto</span>
            </a>
          </li>



          <!-- <li class="darkerli">
<a href="">
<i class="fa fa-shopping-cart"></i>
<span class="nav-text">Cargar Producto</span>
</a>
</li>   -->








      </ul>


      <li>

        <!-- <a href="">
<i class="fa fa-question-circle fa-lg"></i>
<span class="nav-text">Ayuda</span>
</a>
</li>   
  

<ul class="logout">
<li>
                 <a href="">
                       <i class="fa fa-lightbulb-o fa-lg"></i>
                      <span class="nav-text">
                          BLOG 
                      </span>
                      
                  </a>
</li>  
</ul> -->
  </nav>

</div>
    <div class="dashboard-admin-contenido">
        <%- contentView %>
    </div> 
