<footer class="footer">
    <div class="footer-movil">
        <!-- vista movil -->
        <p class="SEGUINOS">SEGUINOS</p>
        <p class="emotes">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-youtube"></i>
        </p>
        <i class="fa-solid fa-truck"></i>
        <a class="ENVIO">ENVIO GRATIS DESDE </a>
        <p class="dinero">$30.000</p>
        <p class="Correo">Correo Argentino / Andreani / Oca / Pickit</p>
        <p>
            <!-- emotes como referencia -->
            <i class="fa-solid fa-circle"></i> <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
        </p>
        <div class="datos">
            <p class="NAVEGACIÓN">NAVEGACIÓN</p>
            <p class="Preguntas">Cómo Comprar?</p>
            <p>Preguntas Frecuentes</p>
            <p>Talles y Medidas</p>
            <p>Políticas de cambio y devoluciones</p>
            <p>Contacto</p>
            <p class="medios">MEDIOS DE PAGO</p>
            <p>
                <img src="/images/other/image-1-footer.png" alt="img-footer-1" class="img-1">
            </p>

            <p class="">FORMAS DE ENVÍO</p>
            <img src="/images/other/image-4-footer.png" alt="img-footer-2" class="img-2">
            <p class="Contacto"><i class="fa-solid fa-phone" style="color: #ffffff;"></i>CONTACTANOS</p>
            <p class="">1134******</p>
            <p class="gmail"><i class="fa-solid fa-envelope"></i> zinke**@******</p>
        </div>
        <p class="copy">Copyright Zinke - 2023. Todos los derechos reservados.
            Defensa de las y los consumidores.<a href="">Para reclamos ingresá acá.</a> /<a href=""> Botón de
                arrepentimiento</a></p>
        <p class="cookies">Al navegar por este sitio aceptás el uso de cookies para agilizar tu experiencia de
            compra.
        </p>
        <p class="Botón">entendido</p>
    </div>
    <div class="footer-tablet">
        <!-- vista tablet y pc -->
        <div class="columna-1">
            <p class="texto-especial texto">Sobre nosotros</p>

            <p class="texto">quienes somos</p>
            <p class="texto">preguntas frecuentes</p>
            <p class="texto">garantias</p>
            <p class="texto">terminos & con diciones</p>
           
        </div>
        <div class="columna-2">
            <p class="texto-especial">NAVEGACION</p>

            <p class="texto">productos</p>
            <p class="texto">sucursales</p>
            <p class="texto">contactanos</p>
        </div>

        <div class="columna-3">
            <p class="texto-especial">Ayuda</p>

            <p class="texto">texto texto</p>
            <p class="texto">texto texto</p>
            <p class="texto">texto texto texto</p>
            <p class="texto">texto</p>
            <p class="texto">texto texto texto</p>
        </div>

        <div class="columna-4">
            <p class="texto-especial">Boletín informativo</p>
            <p class="email">Escribe tu email</p>
            <p class="registrate">REGISTRATE</p>
        </div>

        <div class="columna-5">
            <p class="texto-especial texto">Formas de pago aceptadas</p>
            <i class=" card-footer fa-brands fa-cc-visa"></i>
            <i class=" card-footer fa-brands fa-cc-mastercard fa-fade"></i>
        </div>

        <div class="columna-6">
            <p class="texto-especial">Síguenos en redes</p>
            <div class="columna-6-mini">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-youtube"></i>
            </div>
        </div>

        <!-- <div class="columna-7">
            <p class="texto-especial">Compra Segura</p>
            <img src="/images/other/image-3-footer.png" alt="img-tablet-2" class="img-tablet-2">
        </div> -->
    </div>
</footer>