<!DOCTYPE html>
<html lang="en">
    

<%- include("../partials/head", {view : "Editar productos"}) %>

<body>
    <main class="editar-producto">
            <!-- Navegador Dashboard -->
        <div class="dashboard-admin-contenido">
        <div class="vista-editar-producto my-4 p-5 mx-auto">
            <!-- Volver al listado y Editar Producto -->
            <div class="contenedor-titulo-boton-editar d-flex flex-column flex-md-row justify-content-between">
                <a href="/admin/productos" class="btn btn-custom-editar-producto my-3 my-md-5 d-sm-block d-md-inline-block">Volver al listado</a>
                <h1 class="text-custom-editar-producto my-3 my-md-5 d-sm-block d-md-inline-block mx-auto">Editar Producto</h1>
            </div>
            <div class="card">
                <!-- Nombre y Precio del Producto -->
                <div class="mb-3">
                    <label for="nombreProducto" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre-producto" placeholder="Nombre del producto">
                </div>
                <div class="mb-3">
                    <label for="precioProducto" class="form-label">Precio:</label>
                    <input type="text" class="form-control" id="precio-producto" placeholder="Precio del producto">
                </div>
                <!-- Categorías -->
                <div class="form-floating">
                    <select class="form-select" id="seleccionCategoria" aria-label="Categorias de producto">
                        <option selected hidden class="texto-selector-categoria">Categorías de Producto</option>
                        <option value="1">Abrigos</option>
                        <option value="2">Jeans</option>
                        <option value="3">Buzos y sweaters</option>
                        <option value="4">Remeras</option>
                        <option value="5">Camisas y blusas</option>
                        <option value="6">Tops</option>
                        <option value="7">Pantalones y shorts</option>
                        <option value="8">Vestidos y polleras</option>
                        <option value="9">Cápsula Beige</option>
                        <option value="10">Cápsula American</option>
                        <option value="11">Cápsula 3024</option>
                    </select>
                    <label for="catSeleccionada">Seleccionado</label>
                </div>
                <!-- Descripciones -->
                <label for="descripcionProducto">Descripción:</label>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Describe el producto" id="descripcion-producto" style="height: 100px"></textarea>
                </div>
                <label for="descripcionProducto">Descripción destacada:</label>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Describe el producto" id="desc-destacada"></textarea>
                </div>
                <!-- Talles -->
                <div class="talles-check">
                    <h3 class="titulo-talles col-12 my-3">Talles</h3>
                    <div class="form-check-talles">
                        <input class="form-check-input-talle" type="checkbox" value="" id="talle-1">
                        <label class="form-check-label-talle" for="talle1">Talle 1</label>
                    </div>
                    <div class="form-check-talles">
                        <input class="form-check-input-talle" type="checkbox" value="" id="talle-2">
                        <label class="form-check-label-talle" for="talle2">Talle 2</label>
                    </div>
                    <div class="form-check-talles">
                        <input class="form-check-input-talle" type="checkbox" value="" id="talle-3">
                        <label class="form-check-label-talle" for="talle3">Talle 3</label>
                    </div>
                    <div class="form-check-talles">
                        <input class="form-check-input-talle" type="checkbox" value="" id="talle-4">
                        <label class="form-check-label-talle" for="talle4">Talle 4</label>
                    </div>
                    <div class="form-check-talles">
                        <input class="form-check-input-talle" type="checkbox" value="" id="talle-5">
                        <label class="form-check-label-talle" for="talle5">Talle 5</label>
                    </div>
                </div>
                <!-- Colores -->
                <div class="colors-check">
                    <h3 class="titulo-colores col-12 my-3">Colores</h3>
                    <div class="form-check-color">
                        <label class="form-check-label-color-black">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-1">
                            <span class="form-check-span-color" for="color1">Negro</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-beige">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-2">
                            <span class="form-check-span-color" for="color2">Beige</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-blue">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-3">
                            <span class="form-check-span-color" for="color3">Azul</span>    
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-white">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-4">
                            <span class="form-check-span-color" for="color4">Blanco</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-red">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-5">
                            <span class="form-check-span-color" for="color5">Rojo</span>     
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-green">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-6">
                            <span class="form-check-span-color" for="color6">Verde</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-violet">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-7">
                            <span class="form-check-span-color" for="color7">Violeta</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-orange">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-8">
                            <span class="form-check-span-color" for="color8">Naranja</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-lightblue">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-9">
                            <span class="form-check-span-color" for="color9">Celeste</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-gray">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-10">
                            <span class="form-check-span-color" for="color10">Gris</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-lila">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-11">
                            <span class="form-check-span-color" for="color11">Lila</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-rose">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-12">
                            <span class="form-check-span-color" for="color12">Rosa</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-plated">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-13">
                            <span class="form-check-span-color" for="color13">Plateado</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-petroleo">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-14">
                            <span class="form-check-span-color" for="color14">Petróleo</span>
                        </label>
                    </div>
                    <div class="form-check-color">
                        <label class="form-check-label-color-gold">
                            <input class="form-check-input-color" type="checkbox" value="" id="color-15">
                            <span class="form-check-span-color" for="color15">Oro</span>
                        </label>
                    </div>
                </div>
                <!-- Nuevo - Oferta -->
                <h3 class="titulo-nuevo-oferta col-12 my-3">Producto Nuevo o En Oferta</h3>
                <div class="nuevo-oferta d-flex my-3 col-10 my-md-5">
                   
                    <div class="nuevo col-6 col-md-4 col-lg-2">
                        <label class="" for="option1">
                            <input type="radio" class="" name="options" id="option1" autocomplete="off">
                            <div class="nuevo-oferta-contenedor d-flex align-items-center justify-content-center">
                            <span>Nuevo</span>
                            </div>
                        </label>
                    </div>

                    <div class="oferta col-6 col-md-4 col-lg-2">
                        <label class="" for="option2">
                            <input type="radio" class="" name="options" id="option2" autocomplete="off" checked>
                            <div class="nuevo-oferta-contenedor d-flex align-items-center justify-content-center">
                                <span>Oferta</span>
                            </div>
                        </label>
                    </div>    
                </div>
                <!-- Subir imagen -->
                <div>
                    <input class="form-control form-control-lg" id="formFileLg" type="file">
                </div>

                <div class="boton-enviar-formulario-crear-editar col-10 my-3 d-flex justify-content-center my-md-2 my-lg-3 justify-content-lg-end">
                    <button type="submit" class="button-submit-crear-editar my-3"><a href="/admin/productos" class="btn btn-custom-crear-edit-producto">Enviar cambios</a></button>
                </div>

            </div>
        </div>
        </div>
    </main>
</body>