<!--<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {view : "Crear producto"}) %>
<body>
    

<main class=""">

    <figure style="width: 50%;height: 50%;margin-left: 25%; margin-top: 5%;">
      
            <img class="img-product" src="/images/products/<%= name %>" alt=""> 
        
    </figure>

</main>

      


     
  
</body>
</html>-->