.titulo {
    font-size: 3.5em;
    text-align: center;
    margin: 2vh 0 5vh 0;
    letter-spacing: 2px;
    padding-bottom: 10px;
    background: linear-gradient(90deg, #212121, #676767, #b8b8b8, #d9d9d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--molocoton-oscuro), var(--blanco-almendra));
    border-image-slice: 1;
    text-transform: uppercase;
  }
